* {
	margin: 0;
	padding: 0;
}

body {
	font-family: @regular;
	font-size: 14px;
	min-height: 100vh;
	position: relative;
	margin: 0;
}

input,
input:focus {
	outline: none;
	border-radius: 0;
	-webkit-appearance: none;
	box-shadow: none;
}

a,
a:hover,
a:focus,
button,
button,
button:focus {
	outline: none;
	text-decoration: none;
}

.orange {
	font: 20px/ @regular;
	color: @yellow;
	text-decoration: none;
	text-transform: uppercase;
}

.clear {
	clear: both;
}

header {

	&.inner {
		border-bottom:1px @headerBottom solid;
	}

	.position-block {
		position: relative;

		.search-form {
			position: absolute;
			z-index: 2;
			right: 0;
			bottom: -54px;
			padding: 5px;
			box-sizing: border-box;
			max-width: 451px;
			width: 100%;
			height: 51px;
			background-color: @yellow;
			opacity: 0;
			visibility: hidden;
			transition-property: opacity, visibility;
			transition-duration: 300ms;
			transition-timing-function: linear;

			&.visible--search {
				opacity: 1;
				visibility: visible;
			}

			&::before {
				position: absolute;
				top: -18px;
				right: 13px;
				display: block;
				width: 0;
				height: 0;
				border-left: 9px solid transparent;
				border-right: 9px solid transparent;
				border-bottom: 18px solid @yellow;
				content: '';
			}

			input {

				&[type=text] {
					padding-left: 8px;
					width: 100%;
					box-sizing: border-box;
					height: 41px;
					font: 14px/24px @semibold;
					color: @input-search;
					border: none;
				}

				&[type=submit] {
					display: none;
				}
			}

			@media (max-width: 1199px) {

				& {
					position: static;
					max-width: none;
					width: 100%;
					visibility: visible;
					opacity: 1;
					display: none;

					&.visible {
						display: block;
					}

					form {
						position: relative;

						&::after {
							position: absolute;
							z-index: -1;
							left: -100%;
							top: -5px;
							content: '';
							display: block;
							width: 250%;
							height: calc(~'100% + 10px');
							background-color: @yellow;
						}
					}

					input {

						&[type=text] {
							padding-left: 0 !important;
							color: @white;
							background-color: transparent;
						}

						&[type=submit] {
							position: absolute;
							right: 0;
							top: calc(~'50% - 10.5px');
							display: block;
							width: 21px;
							height: 21px;
							background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/search-white.svg');
							background-size: cover;
							background-position: center;
							background-repeat: no-repeat;
							background-color: transparent;
							border: none;
						}
					}
				}
			}
		}
	}

	.line-hr {
		position: relative;

		&::after {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 1px;
			display: block;
			background-color: @linehr;
			content: '';
		}


	}

	.logo {

		@media (min-width: 768px) and (max-width: 1199px) {

			img {
				width: 100%;
				height: auto;
			}
		}

		@media (max-width: 767px) {

			& {
				text-align: center;

				img {
					margin-bottom: 23px;
				}
			}
		}

	}

	svg {
		margin-top: 6px;
		margin-right: 2px;
		display: inline-block;
		vertical-align: top;
		width: 26px;
		height: 26px;

		&.phone,
		&.time {
			fill: @phone;
		}
	}

	p {
		width: calc(~'100% - 32px');
		display: inline-block;
		vertical-align: top;

		span {
			display: block;

			&.title {
				font: 12px/22px @semibold;
				color: @titlespan;
			}

			&.subtitle {
				margin-top: -2px;
				font: 14px/14px @semibold;
				color: @phonespan;
			}

			&.link {
				margin-top: -5px;
			}

			a {
				font: 10px/24px @bold;
				color: @green;
				text-transform: uppercase;
				transition: color 300ms linear;

				&:hover {
					color: @riff-color;
				}
			}

		}

	}

	.header {

		&-top {
			position: relative;
			padding-top: 5px;
			padding-bottom: 5px;
			box-sizing: border-box;
			background-color: @black;

			.dark-menu-back {
				display: none;
				position: absolute;
				left: 0;
				bottom: 5px;
				width: 100%;
				background-color: @menu-dark;

				&.visible {
					display: block;
				}

				@media (max-width: 767px) {

					& {
						bottom: 0;
					}
				}
			}

			@media (max-width: 1199px) {
				background-color: @white;
				border-bottom: 1px @border-top-header solid;
			}

			@media (max-width: 767px) {

				& {
					padding-bottom: 0;
					border-bottom: none;
				}
			}

			&__phone-mobile {
				position: relative;
				z-index: 2;
				width: 50%;
				float: left;

				.phone {
					margin: 0;
					width: 17px;
					height: 18px;
					fill: @black;
				}
			}

			&__wrap-menu {
				position: relative;
				margin-left: 4%;
				display: inline-block;
				width: 22px;

				@media (max-width: 767px) {

					& {
						margin-top: 10px;
						margin-left: 0;
						padding: 9px 0;
						width: 100%;
						display: block;
						background-color: @border-top-header;

						&::before {
							position: absolute;
							z-index: 0;
							left: -15px;
							top: 0;
							content: '';
							display: block;
							width: calc(~'100% + 30px');
							height: 100%;
							background-color: @border-top-header;
						}

						&::after {
							display: block;
							content: '';
							clear: both;
						}
					}
				}
			}

			&__burger-top-menu {
				position: relative;
				z-index: 1;
				padding: 6px 5px;
				display: inline-block;
				vertical-align: middle;
				width: 22px;
				height: 22px;
				background-color: @burger-back;
				border-radius: 50%;
				box-sizing: border-box;
				cursor: pointer;


				@media (max-width: 767px) {

					& {
						display: block;
						float: right;
					}
				}

				span {
					display: block;
					width: 100%;
					height: 2px;
					background-color: @white;

					&:not(:last-child) {
						margin-bottom: 2px;
					}
				}
			}

			&__links {
				padding-top: 5px;
				text-align: right;

				@media (max-width: 767px) {
					text-align: left;
				}
			}

			.cart {
				margin-top: 0;
			}

			&__registration {
				vertical-align: middle;

				@media (max-width: 767px) {

					& {
						width: 79%;
					}
				}

				a {
					padding-left: 17px;
					font: 13px @regular;
					color: @lightwhite;
					transition: color 300ms linear;

					@media (max-width: 1199px) {
						color: @reg-link-dark;
					}

					&:hover {
						text-decoration: none;
						color: @yellow;
					}

					&.enter {
						margin-right: 20px;
						background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/key.svg');
						background-position: left center;
						background-size: 17px 17px;
						background-repeat: no-repeat;

						@media (max-width: 1199px) {
							background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/key-dark.svg');
						}
					}

					&.registration {
						background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/people.svg');
						background-position: left center;
						background-size: 15px 17px;
						background-repeat: no-repeat;

						@media (max-width: 1199px) {
							background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/people-dark.svg');
						}
					}

				}
			}

			&__cart {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				width: 37px;

				@media (max-width: 1199px) {

					& {
						margin-left: 2%;
					}
				}

				@media (max-width: 767px) {

					& {
						margin-left: 0;
						width: 19.5%;
						text-align: right;

						p {
							width: 25px;
						}
					}
				}

				a {
					display: block;
					color: @white;
				}

				.cart {
					width: 37px;
					height: 36px;
				}

				p {
					position: absolute;
					top: -5px;
					right: -6px;
					background-color: @yellow;
					display: block;
					padding: 2px 17px 2px 8px;
					text-align: center;
					font: 15px 'opensans-bold', 'sans-serif';
					border-radius: 50%;
				}
			}

			.dark-menu {

				@media (max-width: 1199px) {
					padding-top: 10px;
					padding-bottom: 18px;
					margin-top: 10px;
					display: none;
					background-color: @menu-dark;
				}

				@media (max-width: 767px) {

					& {
						margin-top: 0;
					}
				}

				&.visible {
					display: block;
				}

				& > a {
					margin-top: 15px;
					padding: 1px 10px;
					display: inline-block;
					font-size: 13px;
					font-family: @semibold;
					color: @lightwhite;
					background-color: @lightyellow;
					border-radius: 20px;
					transition: background 300ms linear;

					&:hover {
						background-color: @graypfruit;
					}
				}
			}

			nav {
				margin-bottom: 0;
				font-size: 0;
				text-align: justify;

				&::after {
					position: relative;
					display: inline-block;
					width: 100%;
					content: '';
				}

				li {
					display: inline-block;

					a {
						font: 13px/30px @semibold;
						color: @lightwhite;
						transition: color 300ms linear;

							&:hover {
								text-decoration: none;
								color: @yellow;
							}
					}

					@media (max-width: 1199px) {
						display: list-item;
						list-style-type: none;

						a {
							padding-left: 15px;
							display: block;
							width: 100%;
							height: 100%;
							box-sizing: border-box;
						}
					}
				}
			}

			&__link-3d,
			&__registration {
				display: inline-block;
				vertical-align: middle;
			}

			&__link-3d {
				padding-right: 22px;

				a {
					padding: 1px 10px;
					color: @lightwhite;
					background-color: @lightyellow;
					border-radius: 20px;
					transition: background 300ms linear;

						&:hover {
							background-color: @graypfruit;
						}
				}

				@media (max-width: 1200px) {
					display: none;
				}
			}

		}

		&-bottom {
			position: relative;
			margin-top: 23px;

			@media (max-width: 1199px) {

				& {
					overflow: hidden;
				}
			}

			.line-hr {

				@media (min-width: 768px) and (max-width: 1199px) {

					&:after {
						right: auto;
						left: 0;
					}
				}
			}

			.header-bottom-menu {
				position: relative;

				@media (max-width: 1199px) {
					margin-top: 26px;

					&::before {
						position: absolute;
					}
				}
			}

			.dark-menu-back-two {
				position: absolute;
				left: 0;
				bottom: 51px;
				display: none;
				width: 100%;
				background-color: @menu-dark;

				@media (min-width: 768px) and (max-width: 991px) {

					& {
						height: calc(~'100% - 184px');

						&.visible {
							display: block;
						}
					}
				}

				@media (min-width: 991px) and (max-width: 1199px) {

					& {
						height: calc(~'100% - 195px');

						&.visible {
							display: block;
						}
					}
				}

				@media (max-width: 767px) {

					& {
						height: calc(~'100% - 263px');

						&.visible {
							display: block;
						}
					}
				}
			}

			.burger-bottom-block {
				position: relative;
				margin-top: 25px;
				display: none;
				background-color: @black;
				cursor: pointer;

				.burger-bottom-menu {
					position: absolute;
					right: 0;
					top: calc(~'50% - 11px');
					padding: 6px 5px;
					display: block;
					vertical-align: middle;
					width: 22px;
					height: 22px;
					background-color: @white;
					border-radius: 50%;
					box-sizing: border-box;
					cursor: pointer;

					span {
						display: block;
						width: 100%;
						height: 2px;
						background-color: @black;

						&:not(:last-child) {
							margin-bottom: 2px;
						}
					}
				}

				&::before {
					position: absolute;
					z-index: -1;
					left: -100%;
					top: 0;
					content: '';
					width: 250%;
					height: 100%;
					background-color: @black;
				}

				@media (max-width: 1199px) {
					display: block;
				}

				p {
					margin-top: 10px;
					margin-bottom: 9px;
					color: @white;
				}
			}

			.job-time {
				margin-top: 16px;

				@media (max-width: 1199px) {

					& {
						margin-top: 6px;
					}
				}
			}


			 ul {

				 &.main-menu {
					 margin-bottom: 0;
					 text-align: justify;
					 font-size: 0;

					 @media (max-width: 1199px) {

						 & {
							 display: none;
							 background-color: @menu-dark;

							 &.visible {
								 display: block;
							 }
						 }
					 }

					 &::after {
						 position: relative;
						 display: inline-block;
						 width: 100%;
						 content: '';
					 }

					 li {
						 position: relative;

						 @media (min-width: 1200px) {

							 &:hover {

								 & > a {

									 & > svg.menu-arrow {

										 transform: rotate(90deg);
									 }
								 }
							 }
						 }
					 }

					 & > li {
						 position: relative;
						 padding-left: 15px;
						 padding-right: 15px;
						 padding-bottom: 15px;
						 padding-top: 4px;
						 display: inline-block;
						 background-color: transparent;
						 transition: background 300ms linear;

						 & > a {
							 text-transform: uppercase;
							 font: 14px/30px @regular;
							 color: @menu;
							 transition:  color 300ms linear;
							 vertical-align: middle;
						 }

						 &:hover {
							 background-color: @yellow;

							 & > a {
								 color: @white;
							 }
						 }

						 @media (max-width: 1199px) {
							 padding-left: 0;
							 display: list-item;
							 list-style-type: none;

							 &:last-child {
								 padding-bottom: 0;
							 }

							 &:hover {
								 background-color: transparent;
							 }

							 & > a {
								 position: relative;
								 color: @white;
								 display: block;
							 }

							 .menu-arrow {
								 position: absolute;
								 z-index: 3;
								 right: 15px;
								 margin: 0;
								 padding: 10px;
								 width: 27px;
								 height: 29px;
								// top: calc(~'50% - 13px');
								 top: 5px;
								 fill: @white;
								 cursor: pointer;
							 }
						 }

						 ul {
							 position: absolute;
							 z-index: 10;
							 text-align: left;
							 background-color: @white;

							 li {
								 position: relative;
								 list-style-type: none;
								 padding-top: 6px;
								 padding-bottom: 6px;

								 &:not(:last-child)::before {
									 position: absolute;
									 left: 13px;
									 bottom: 0;
									 display: block;
									 width: calc(~'100% - 26px');
									 height: 1px;
									 background-color: @linemenu;
									 content: '';
								 }

								 a {
									 padding-left: 15px;
									 display: inline-block;
									 vertical-align: middle;
									 box-sizing: border-box;
									 width: calc(~'100% - 40px');
									 height: 100%;
									 color: @menu;

									 @media (max-width: 1199px) {

										 & {
											 width: 100%;
										 }
									 }
								 }

								 &:hover {
									 background-color: @yellow;

									 &:not(:last-child)::before {
										 background-color: transparent;
									 }

									 & > a {
										 color: @white;
									 }
								 }
							 }
						 }

					 }

					 li {

						 a {
							 font-size: 14px;
							 line-height: 30px;

						 }

						 &:hover {

							 @media (min-width: 1200px) {

								 & > ul {
									 display: block;
								 }
							 }

							 & > a {

								 svg {
									 fill: @white;
								 }
							 }

							 & > svg {
								 fill: @white;
							 }
						 }
					 }
				 }

				 svg.menu-arrow {
					 margin-top: 0;
					 margin-left: 7px;
					 display: inline-block;
					 width: 4px;
					 height: 6px;
					 color: @menuarrow;
					 vertical-align: middle;
					 transition:  fill 300ms linear;
				 }

				 &.submenu {
					 top: 100%;
					 left: 0;
					 display: none;
					 width: calc(~'100% + 50px');
					 box-shadow: 0 0 5px 0 rgba(10, 22, 45, .4);

					 @media (max-width: 1199px) {

						 & {
							 position: relative !important;
							 top: auto;
							 left: auto;
							 width: 100%;
							 background-color: @submenu-mobile !important;

							 &::before {
								 position: absolute;
								 z-index: -1;
								 left: -100%;
								 top: 0;
								 content: '';
								 display: block;
								 width: 250%;
								 height: 100%;
								 background-color: @submenu-mobile;
							 }

							 li {

								 &::before {
									 display: none !important;
								 }

								 &::after {
									 position: absolute;
									 z-index: -1;
									 left: -100%;
									 top: 0;
									 content: '';
									 display: none;
									 width: 250%;
									 height: 100%;
									 background-color: @greenDark;
								 }

								 &.active {
									 padding-bottom: 0;
									 background-color: @greenDark;

									 &::after {
										 display: block;
									 }
								 }

								 > a {
									 position: relative;
									 z-index: 2;
									 color: @white !important;
								 }

								 .menu-arrow {
									 position: absolute;
									 right: 0;
									 margin: 0;
									 padding: 10px;
									 width: 27px;
									 height: 29px;
									 top: 5px;
									 fill: @white;
								 }

								 &:hover {
									 background-color: @greenDark !important;

									 &::after {
										 display: block;
									 }
								 }
							 }
						 }
					 }
				 }

				 &.submenu2 {
					 left: 100%;
					 top: 0;
					 width: 90%;
					 display: none;
					 border-left: 1px @white solid;
					 box-shadow: 0 0 5px 0 rgba(10, 22, 45, .4);

					 	li {
							padding-right: 40px;
						}

					 @media (max-width: 1199px) {

						 & {
							 position: relative !important;
							 top: auto;
							 left: auto;
							 width: 100%;
							 border-left: none;
							 background-color: @submenu-2-mobile !important;

							 &::after {
								 position: absolute;
								 z-index: -2;
								 left: -100%;
								 top: 0;
								 content: '';
								 display: block;
								 width: 250%;
								 height: 100%;
								 background-color: @submenu-2-mobile;
							 }

							 li {
								 padding-right: 0;
							 }
						 }
					 }
				 }

				 &.submenu3 {
					 left: 100%;
					 width: 100%;
					 top: 0;
					 display: none;
					 border-left: 1px @white solid;
					 box-shadow: 0 0 5px 0 rgba(10, 22, 45, .4);

					 @media (max-width: 1199px) {

						 & {
							 position: relative !important;
							 top: auto;
							 left: auto;
							 width: 100%;
							 border-left: none;
							 background-color: @submenu-2-mobile !important;

							 &::after {
								 position: absolute;
								 z-index: -2;
								 left: -100%;
								 top: 0;
								 content: '';
								 display: block;
								 width: 250%;
								 height: 100%;
								 background-color: @submenu-2-mobile;
							 }
						 }
					 }
				 }

			 }

			&__cart {
				position: relative;
				margin-top: -7px;

				svg {
					margin-top: 0;
					width: 37px;
					height: 33px;
					fill: @cartico;
					transition: fill 300ms linear;
				}

				&:hover {

					svg {
						fill: @carthover;
					}
				}

				a {
					display: block;
					color: @white;
				}

				p {
					position: absolute;
					top: 0;
					right: 0;
					background-color: @yellow;
					display: block;
					padding: 2px 17px 2px 8px;
					text-align: center;
					font: 15px @bold;
					border-radius: 50%;
				}

			}

			&__search {
				margin-left: 20px;
				margin-top: -9px;
				padding-left: 3px;
				padding-top: 6px;
				box-sizing: border-box;
				width: 46px;
				height: 46px;
				text-align: center;
				background-color: @searchback;
				border-radius: 50%;
				cursor: pointer;
				transition: background 300ms linear;

					@media (max-width: 1199px) {

						& {
							display: none;
						}
					}

					&.open--search {
						background-color: @yellow;

						svg {
							fill: @white;
						}
					}

					&:hover {
						background-color: @yellow;

						svg {
							fill: @white;
						}
					}

					svg {
						width: 21px;
						height: 21px;
						fill: @cartico;
						transition: fill 300ms linear;
					}
			}
		}
	}
}

main {

	.content {
		margin-top: 40px;
	}

	.slider {
		position: relative;
		width: 100%;
		height: 534px;
		overflow: hidden;

			&__arrows {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 534px;

					@media (max-width: 1199px) {

						& {
							display: none;
						}
					}

					.slick-prev,
					.slick-next {
						z-index: 1;
						top: calc(~'50% - 28.5px');
						width: 57px;
						height: 57px;
						background-color: @dark;
						border: none;
						transform: rotate(45deg);

							&::before {
								position: absolute;
								display: block;
								width: 10px;
								height: 16px;
								background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/prev.svg');
								background-size: 10px 16px;
								background-position: center;
								background-repeat: no-repeat;
								content: '';
								transform: rotate(-45deg);
								transition-property: background;
								transition-duration: 300ms;
								transition-timing-function: linear;
							}

							&:hover {


								&::before {
									background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/prev-hover.svg');
								}
							}
					}

					.slick-prev {

						&::before {
							left: 14px;
						}
					}

					.slick-next {

						&::before {
							right: 14px;
							top: 13px;
							transform: rotate(135deg);
						}
					}

					.container,
					.row,
					.col-md-12 {
						height: 534px;
					}

					.slick-next {
						right: 0;
					}
			}

			&__item {
				height: 534px;
				width: 100%;
				background-size: cover !important;
				background-position: center;
				background-repeat: no-repeat;

				.col-md-12 {
					height: 534px;
					display: flex;
					justify-content: center;
					align-items: center;
					align-content: center;
				}
			}

			.item {

				&__content {
					padding: 55px 87px;
					max-width: 920px;
					width: 100%;
					background-color: fade(@dark, 30%);

					@media (max-width: 1199px) {

						& {
							padding-left: 15px;
							padding-right: 15px;
						}
					}

					@media (max-width: 767px) {

						& {
							padding-left: 0;
							padding-right: 0;
							background-color: transparent;
						}
					}

						&__white-block {
							padding: 6px;
							background-color: @white;
							font-size: 0;

							@media (max-width: 767px) {

								& {
									position: relative;
									padding: 0;
									padding-bottom: 58px;
								}
							}
						}

						.white-block {

								&__left {
									position: relative;
									z-index: 2;
									display: inline-block;
									vertical-align: middle;
									width: calc(~'100% - 371px');
									text-align: center;
									word-wrap: normal;

									@media (max-width: 767px) {

										& {
											position: static;
											display: block;
											width: 100%;
										}
									}

										p {

											&.title {
												margin-bottom: 20px;
												font: 19px @semibold;
												color: @slideTitle;
												line-height: normal;
												text-transform: uppercase;

												@media (max-width: 767px) {

													& {
														margin-bottom: 11px;
														padding-top: 20px;
													}
												}
											}

											&.subtitle {
												margin-left: -35px;
												margin-bottom: 14px;
												width: calc(~'100% + 70px');
												font: 61px @extrabold;
												line-height: normal;
												text-transform: uppercase;
												color: @white;
												background-color: @lightyellow;

												@media (min-width: 768px) and (max-width: 1199px) {

													& {
														font-size: 50px;
													}
												}

												@media (max-width: 767px) {

													& {
														font-size: 45px;
														line-height: 57px;
													}
												}
											}

											&.delivery-text {
												margin-bottom: 40px;
												font: 13px @regular;
												line-height: normal;
												color: @deliveryText;

												@media (max-width: 767px) {

													& {
														margin-bottom: 17px;
													}
												}
											}
										}

										a.more {
											padding: 5px 27px;
											font: 13px @semibold;
											color: white;
											text-transform: uppercase;
											background-color: @green;
											transition-property: background, color;
											transition-duration: 300ms;
											transition-timing-function: linear;

												&:hover {
													background-color: @greenDark;
													color: @green-text;
												}

											@media (max-width: 767px) {

												& {
													position: absolute;
													bottom: 12px;
													left: calc(~'50% - 66.7px');
												}
											}
										}
								}

								&__right {
									position: relative;
									z-index: 1;
									display: inline-block;
									vertical-align: middle;
									width: 371px;

									@media (max-width: 767px) {

										& {
											display: block;
											width: 100%;
											height: 246px;
											overflow: hidden;

											img {
												width: 100%;
												height: auto;
												min-height: 246px;
											}
										}
									}
								}
						}
				}

			}

			.slick-prev,
			.slick-next {
				position: absolute;
			}
	}

	.utp {
		margin-top: 44px;

		&__ico {
			width: 40px;
			float: left;

				svg {

					&.like {
						width: 40px;
						height: 40px;
					}

					&.telephone {
						width: 40px;
						height: 44px;
					}

					&.lock {
						width: 31px;
						height: 42px;
					}
				}
		}

		&__text {
			width: calc(~'100% - 50px');
			float: right;
			border-left: 2px @yellow solid;

				p {
					&.title {
						margin-bottom: 0;
						padding-left: 13px;
						font: 16px/20px @regular;
						color: @utpTitle;
						text-transform: uppercase;
					}
				}
		}

		&__description {
			clear: both;

				p {
					margin-bottom: 0;
					padding-top: 9px;
					font: 13px/20px @regular;
					color: @utpDesc;
				}

			@media (max-width: 767px) {

				& {
					margin-bottom: 45px;
				}
			}

			@media (min-width: 768px) and (max-width: 991px) {

				& {
					margin-bottom: 40px;
				}
			}
		}

		/*&::after {
			display: block;
			width: 100%;
			clear: both;
			content: '';
		}*/
	}

	.banner {
		margin-top: 20px;

		@media (min-width: 768px) and (max-width: 991px){

			& {
				margin-top: 0;
			}
		}

		&__background {
			padding: 8px;
			width: 100%;
			min-height: 150px;
			height: 100%;
			background-image: url(../img/banner.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;

			@media (max-width: 767px) {

				& {
					min-height: 254px;
					height: auto;
				}
			}
		}

		&__text {
			padding: 20px 30px;
			font-size: 0;
			background-color: fade(@black, 70%);

			@media (max-width: 767px) {

				& {
					padding: 41px 10px 17px;
				}
			}

			&__left,
			&__right {
				display: inline-block;
				vertical-align: middle;
				width: 50%;
				text-align: right;

				@media (max-width: 767px) {

					& {
						display: block;
						width: 100%;
					}
				}
			}

			&__left {
				position: relative;
				padding-right: 35px;

				&::before {
					position: absolute;
					right: 0;
					top: 20%;
					display: block;
					width: 1px;
					height: 60%;
					background-color: @white;
					content: '';
				}

				@media (max-width: 767px) {

					& {
						padding-right: 0;
						text-align: center;

						&::before {
							display: none;
						}
					}
				}
			}

			p {
				font: 30px @semibold;
				line-height: normal;
				color: @white;

				@media (max-width: 767px) {

					& {
						font-size: 26px;
					}
				}
			}

			svg {
				display: inline-block;
				vertical-align: middle;
				width: 53px;
				height: 53px;
				fill: @white;

				@media (max-width: 767px) {

					& {
						display: block;
						margin: 0 auto;
					}
				}
			}

			span {
				font: 30px/55px @semibold;
				color: @white;
				vertical-align: middle;
				margin-left: 30px;

				@media (max-width: 767px) {

					& {
						display: block;
						margin-left: 0;
						text-align: center;
					}
				}
			}

		}
	}

	.new {
		margin-top: 39px;

		.title-category();
	}

	.tabs {

		&__link {
			margin-bottom: 27px;

			ul {
				font-size: 0;

				li {
					display: inline-block;

					&:not(:first-child) {
						margin-left: 7px;
					}

					a {
						padding: 0 15px;
						font: 16px/24px @semibold;
						color: @utpTitle;
						border-radius: 20px;
						transition: color 300ms linear, background 300ms linear;

						&.active {
							background-color: @yellow;
							color: @white;
						}

						&:hover {
							background-color: @yellow;
							color: @white;
						}
					}
				}
			}
		}

		&__content  {

			&__block {
				opacity: 0;
				height: 0;
				overflow: hidden;
				visibility: hidden;

				img {
					display: none;
				}

				&.visible--tab {
					opacity: 1;
					height: auto;
					overflow: visible;
					visibility: visible;

					img {
						display: inline;
					}

				}
			}
		}
	}

	a.more-this-category {
		margin-top: 17px;
		display: inline-block;
		font: 16px/24px @semibold;
		text-transform: uppercase;
		color: @yellow;
		transition: color 300ms linear;

		@media (min-width: 768px) and (max-width: 991px) {

			& {
				margin-top: 0;
			}
		}

			&:hover {
				color: @linkThis;
			}
	}

	.item-card {
		background-color: #fff;
		box-shadow: 0 0 13px 0 fade(@dark, 24%);

		@media (max-width: 1199px) {

			& {
				margin-bottom: 30px;
			}
		}

		&__title {

			.collection-p {
				margin-bottom: 0;
				font-size: 13px;
				line-height: normal;
				font-family: @semibold;
				color: @yellow;
			}

			.title {
				margin-bottom: 8px;
				font: 20px/24px @regular;
				text-transform: uppercase;

				a {
					color: @titleLink;
				}
			}
		}

		&.collection {
			padding: 8px 15px;

			.item-card__text {
				padding: 0;
				padding-top: 2px;
			}

			.type {
				padding-left: 0;
			}

			.price {
				margin-top: 16px;
				padding-top: 0;
			}
		}

		&.tale {
			padding-bottom: 5px;

			.item-card__img {
				box-shadow: none;
			}

			.collection-type {
				font: 13px/24px @semibold;
				color: @collection-p;
			}

			.sizes {
				margin-top: 4px;

				svg {
					display: inline-block;
					width: 13px;
					height: 13px;
					fill: @yellow;
				}

				p {
					margin-left: 2%;
					display: inline-block;
					font: 14px/24px @regular;
					color: @fildset-label;

					span {
						line-height: 26px;
						color: @titleManuf;
					}
				}
			}

			.price {
				margin-top: 11px;
				font-size: 24px;
				font-family: @bold;


				span {
					font-size: 16px;
					font-family: @regular;
				}
			}

			.item-card__button {
				margin-top: 11px;
				margin-bottom: 6px;

				button {
					float: left;
					border: 1px @input-count solid;
					width: 37px;
					height: 29px;
					box-sizing: border-box;
					font: 18px @semibold;
					color: @price;
					background-color: transparent;
					transition: background 300ms linear, color 300ms linear;

					&:hover {
						background-color: @lightyellow;
						color: @white;
					}

					&.minus {
						border-radius: 20px 0 0 20px;
					}

					&.plus {
						border-radius: 0 20px 20px 0;
					}
				}

				input[type=text] {
					float: left;
					width: 34px;
					height: 29px;
					border: 1px @input-count solid;
					border-left: none;
					border-right: none;
					box-sizing: border-box;
					text-align: center;
					font: 18px @semibold;
				}

				&::after {
					display: block;
					width: 100%;
					clear: both;
					content: '';
				}

				input[type=button] {
					margin-left: 7px;
					padding: 3px 13px;
					font: 16px/normal @semibold;
					color: @more;
					border: none;
					background-color: @green;
					border-radius: 14px;
					transition-property: background-color, color;
					transition-duration: 300ms;

					&:hover {
						background-color: @greenDark;
						color: @white;
					}
				}
			}

			.item-card__left-button,
			.item-card__left-button {
				width: 50%;
				float: left;
			}

		}

		&__img {
			position: relative;

			.wrap-recommended {
				position: absolute;
				z-index: 2;
				left: 9px;
				top: 19px;
			}

			.recommended-banner {
				.recommend-banner();
			}

			a {
				position: absolute;
				z-index: 3;
				left: 0;
				top: 0;
				display: block;
				width: 100%;
				height: 100%;
				background-color: fade(@green, 80%);
				text-align: center;
				transition-property: opacity;
				transition-duration: 300ms;
				transition-timing-function: linear;
				opacity: 0;
				visibility: hidden;

				&.gallery {

					svg {
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						width: 36px;
						height: 36px;
						fill: @white;
					}
				}


				span {
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					padding-top: 2px;
					display: block;
					width: 119px;
					height: 22px;
					font: 14px @bold;
					color: @greendirty;
					text-align: center;
					text-transform: uppercase;
					background-color: @white;
					border-radius: 20px;
					opacity: 0;
					visibility: hidden;
					transition-property: opacity, visibility;
					transition-duration: 300ms;
					transition-delay: 0s;
					transition-timing-function: linear;

					&:hover {
						background-color: @more-tile;
						color: @white;
					}
				}
			}

			&:hover {

				.recommended-banner {
					display: none;
				}

				& a {
					opacity: 1;
					visibility: visible;
				}

				& span {
					opacity: 1;
					visibility: visible;
					transition-delay: 300ms;
				}
			}

			img {
				width: 100%;
				height: auto;
			}

		}

		&__text {
			padding: 14px 15px 5px;
			height: 240px;

				@media (max-width: 767px) {
					height: auto;
				}

				p {
					margin-bottom: 0;

					&.title {
						font: 20px/24px @regular;
						text-transform: uppercase;

						a {
							color: @titleLink;
						}
					}

					&.manufacturer {
						margin-top: 10px;
						padding-left: 18px;
						font: 14px @semibold;
						color: @titleManuf;
						background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/point.svg');
						background-size: 11px 15px;
						background-repeat: no-repeat;
						background-position: left center;
					}

					&.type {
						padding-left: 18px;
						font: 13px/20px @regular;
						color: @utpDesc;
					}

					&.price {
						margin-top: 13px;
						padding-top: 5px;
						font: 16px @regular;
						border-top: 1px @linehr solid;
						color: @price;

							span {
								font: 30px @bold;
							}
					}
				}
		}

		&__one-click {
			padding-bottom: 10px;
			text-align: center;

			a {
				font: 15px/24px @semibold;
				color: @fildset-label;
				border-bottom: 1px @fildset-label dashed;
				transition-property: color, border;
				transition-duration: 300ms, 300ms;

				&:hover {
					color: @lightyellow;
					border-bottom-color: @lightyellow;
				}
			}
		}

	}

	div.manufacturer {
		margin-top: 64px;

		@media (max-width: 991px){

			& {
				margin-top: 25px;
			}
		}

		.title-category(100%,14px);

		.tile,
		.wallpaper {
			position: relative;

			.slick-prev-tile,
			.slick-prev-wall,
			.slick-next-tile,
			.slick-next-wall {
				position: absolute;
				z-index: 3;
				top: calc(~'50% - 15px');
				width: 17px;
				height: 30px;
				background-color: transparent;
				border: none;
				background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/prev-carousel.svg');
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				transition: background 300ms linear;

					&:hover {
						background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/prev-carousel-hover.svg');
					}
			}

			.slick-prev-tile,
			.slick-prev-wall {
				left: -50px;
			}

			.slick-next-tile,
			.slick-next-wall {
				transform: rotate(180deg);
				right: -50px;
			}
		}

		.tabs {

			&__content {
				padding-left: 50px;
				padding-right: 50px;

				@media (min-width: 768px) and (max-width: 1199px) {

					& {
						margin-bottom: 18px;
					}
				}
			}
		}
	}

	.hits {
		margin-top: 64px;

		@media (min-width: 768px) and (max-width: 1199px) {

			& {
				margin-top: 50px;
			}
		}

		.title-category();

		.tabs{

			&__link {
				margin-bottom: 40px;
			}
		}

		a.more-this-category {
			margin-top: 30px;

			@media (min-width: 768px) and (max-width: 991px){

				& {
					margin-top: 0;
				}
			}
		}
	}

	.question {
		margin-top: 48px;
		padding-top: 46px;
		padding-bottom: 46px;
		height: 210px;
		width: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		@media (min-width: 768px) and (max-width: 991px) {

			& {
				margin-top: 30px;
				min-height: 234px;
				padding-top: 23px;
				padding-bottom: 0;
				height: auto;
			}
		}

		@media (max-width: 767px) {
			& {
				margin-top: 30px;
				min-height: 342px;
				padding-top: 23px;
				padding-bottom: 0;
				height: auto;
			}
		}

			&__text {
				padding-top: 36px;
				padding-bottom: 33px;
				background-color: fade(@dark, 50%);

				@media (min-width: 768px) and (max-width: 991px) {

					& {
						padding-top: 23px;
						padding-bottom: 31px;
					}
				}

				@media (max-width: 767px) {

					& {
						position: relative;
						background-color: transparent;

						&::before {
							position: absolute;
							left: -15px;
							top: 0;
							content: '';
							display: block;
							width: calc(~'100% + 30px');
							height: 100%;
							background-color: fade(@dark, 50%);
						}
					}
				}

					&__descript {
						padding-left: 100px;

						@media (max-width: 991px) {

							& {
								padding-left: 0;
								margin-bottom: 32px;
								text-align: center;
							}
						}

						@media (max-width: 767px) {

							& {
								margin-bottom: 20px;
							}
						}

						p {
							margin-bottom: 0;
							font: 24px @bold;
							color: @questionP;

							span {
								font: 24px @bold;
								color: @questionSpan;
							}
						}

						span {
							font: 14px @regular;
							color: @white;
						}
					}

					input {
						margin-top: 5px;

						&[type=phone],
						&[type=text] {
							padding-left: 20px;
							width: 100%;
							height: 48px;
							font: 18px @regular;
							border: 2px @white solid;
							box-sizing: border-box;
							border-radius: 5px;
							background-color: transparent;
							color: @white;

							@media (max-width: 767px) {

								& {
									margin-bottom: 15px;
								}
							}
						}

						&[type=submit] {
							width: 100%;
							height: 48px;
							font: 18px @bold;
							color: @green-text;
							text-align: center;
							text-transform: uppercase;
							border: none;
							cursor: pointer;
							background-color: @green;
							border-radius: 5px;
							transition: background 300ms linear, color 300ms linear;

								&:hover {
									background-color: @questionSubmitHover;
									color: @white;
								}
						}
					}
			}
	}

	.sales {
		margin-top: 56px;

		@media (min-width: 768px) and (max-width: 991px) {

			& {
				margin-top: 34px;
			}
		}

		.title-category();

		.item-card {
			margin-bottom: 30px;
		}
	}

	.style-slider {
		position: relative;
		margin-top: 66px;
		height: 665px;

		@media (min-width: 768px) and (max-width: 1199px) {

			& {
				height: 345px;
				margin-top: 30px;

				.slick-slider {
					min-height: 345px;
				}
			}
		}

		@media (max-width: 767px) {

			& {
				display: none;
			}
		}

		.arrow-style {
			position: absolute;
			z-index: 3;
			top: 0;
			left: 0;
			bottom: auto;
			right: 0;
			margin: auto;
			padding-left: 15px;
			padding-right: 15px;
			width: 100%;
			max-width: 1170px;

				&::after {
					position: absolute;
					right: 27px;
					top: 61px;
					display: block;
					width: 57px;
					height: 57px;
					background-color: @dark;
					content: '';
					transform: rotate(45deg);

					@media (min-width: 768px) and (max-width: 1199px) {

						& {
							top: 28px;
							width: 29px;
							height: 29px;
						}
					}
				}

				.slick-prev-style,
				.slick-next-style {
					position: absolute;
					z-index: 10;
					width: 10px;
					height: 16px;
					background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/prev.svg');
					background-size: 10px 16px;
					background-position: center;
					background-repeat: no-repeat;
					background-color: transparent;
					content: '';
					border: none;
					cursor: pointer;
					transition: background 300ms linear;

						&:hover {
							background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/prev-hover.svg');
						}

					@media (min-width: 768px) and (max-width: 1199px) {

						& {
							width: 5px;
							height: 8px;
							background-size: cover;
						}

					}
				}

				.slick-prev-style {
					right: 60px;
					top: 80px;

					@media (min-width: 768px) and (max-width: 1199px) {

						& {
							top: 38px;
							right: 47px;
						}
					}
				}

				.slick-next-style {
					right: 40px;
					top: 80px;
					transform: rotate(180deg);

					@media (min-width: 768px) and (max-width: 1199px) {

						& {
							top: 38px;
							right: 30px;
						}
					}
				}

		}

		&__item {
			position: relative;

			& > img {
				width: 100%;
				height: auto;
				min-height: 665px;

				@media (min-width: 768px) and (max-width: 1199px) {

					& {
						min-height: 345px;
					}
				}
			}

			p {
				position: relative;
				z-index: 1;
				padding-right: 98px;
				font: 40px/24px @light;
				color: @utpTitle;
				text-align: right;

				@media (min-width: 768px) and (max-width: 1199px) {

					& {
						padding-top: 36px;
						font-size: 20px;
						line-height: 12px;
					}
				}
			}

			&__tile {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				margin: auto;
				padding-left: 15px;
				padding-right: 15px;
				padding-top: 74px;
				width: 100%;
				height: 100%;
				max-width: 1170px;

				@media (min-width: 768px) and (max-width: 1199px) {

					& {
						padding-top: 0;
					}
				}

				.four-w {
					position: absolute;
					top: 135px;
					left: 90px;
					transform: rotate(45deg);
					width: 407px;
					height: 407px;
					border: 6px @white solid;
					border-radius: 5px;
					overflow: hidden;
					box-sizing: border-box;

						img {
							position: absolute;
							top: -95px;
							left: -95px;
							transform: rotate(-45deg);
						}

					@media (min-width: 768px) and (max-width: 1199px) {

						& {
							top: 68px;
							left: 190px;
							width: 212px;
							height: 212px;
						}
					}
				}

				.two-w {
					position: absolute;
					top: 95px;
					left: 477px;
					width: 205px;
					height: 205px;
					border: 6px @white solid;
					border-radius: 5px;
					transform: rotate(45deg);
					box-sizing: border-box;
					overflow: hidden;

					@media (min-width: 768px) and (max-width: 1199px) {

						& {
							left: 387px;
							top: 44px;
							width: 112px;
							height: 112px;
						}
					}

					img {
						position: absolute;
						top: -55px;
						left: -55px;
						transform: rotate(-45deg);
					}

					&.two {
						top: 380px;
						left: 475px;

						@media (min-width: 768px) and (max-width: 1199px) {

							& {
								left: 387px;
								top: 192px;
							}
						}
					}

					&.three {
						top: 237px;
						left: 616px;

						@media (min-width: 768px) and (max-width: 1199px) {

							& {
								left: 463px;
								top: 118px;
							}
						}
					}

					&.four {
						top: 378px;
						right: 207px;
						left: auto;

						@media (min-width: 768px) and (max-width: 1199px) {

							& {
								right: auto;
								left: 536px;
								top: 194px;
							}
						}
					}

					&.five {
						top: 237px;
						right: 66px;
						left: auto;

						@media (min-width: 768px) and (max-width: 1199px) {

							& {
								right: auto;
								left: 612px;
								top: 118px;
							}
						}
					}
				}
			}
		}
	}

	.interior-catalog {
		margin-top: 42px;

		.title-category();

		.tabs-content {
			position: relative;
		}

		.slick-prev-interior,
		.slick-prev-wallinterior,
		.slick-next-interior,
		.slick-next-wallinterior {
			position: absolute;
			z-index: 2;
			top: 4px;
			width: 12px;
			height: 23px;
			background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/prev-carousel.svg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			border: none;
			background-color: transparent;
			transition: background 300ms linear;

			&:hover {
				background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/prev-carousel-hover.svg');
			}

			@media (max-width: 767px) {

				& {
					top: calc(~'50% - 11.5px');
				}
			}
		}

		.slick-prev-interior,
		.slick-prev-wallinterior {
			right: 39px;

			@media (max-width: 767px) {

				& {
					right: auto;
					left: 15px;
				}
			}
		}

		.slick-next-interior,
		.slick-next-wallinterior {
			right: 15px;
			transform: rotate(180deg);
		}

		.tile-interior {
			margin-left: -15px;
			margin-right: -13.5px;

			@media (max-width: 767px) {

				& {
					margin-left: 0;
					margin-right: 0;
					padding-left: 20px;
					padding-right: 20px;
				}
			}

			&__item {
				position: relative;
				padding-right: 15px;
				padding-left: 15px;

				&.slick-cloned {

					img {
						height: 193px;
					}
				}

				a {
					position: absolute;
					z-index: 3;
					left: 15px;
					top: 0;
					display: block;
					width: calc(~'100% - 30px');
					height: 100%;
					background-color: fade(@green, 80%);
					text-align: center;
					transition-property: opacity;
					transition-duration: 300ms;
					transition-timing-function: linear;
					opacity: 0;
					visibility: hidden;


					span {
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						padding-top: 2px;
						display: block;
						width: 119px;
						height: 22px;
						font: 14px @bold;
						color: @greendirty;
						text-align: center;
						text-transform: uppercase;
						background-color: @white;
						border-radius: 20px;
						opacity: 0;
						visibility: hidden;
						transition-property: opacity, visibility;
						transition-duration: 300ms;
						transition-delay: 0s;
						transition-timing-function: linear;
					}
				}

				&:hover {

					& a {
						opacity: 1;
						visibility: visible;
					}

					& span {
						opacity: 1;
						visibility: visible;
						transition-delay: 300ms;
					}
				}


				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}

	.reviews {
		margin-top: 66px;

		.title-category();

		&__slider {
			position: relative;
			margin-top: 72px;
			padding-left: 190px;
			padding-right: 190px;

			@media (min-width: 768px) and (max-width: 1199px) {

				& {
					padding-left: 60px;
					padding-right: 60px;
				}
			}

			@media (max-width: 767px) {

				& {
					margin-top: 0;
					padding-left: 0;
					padding-right: 0;
				}
			}

			.slick-prev-review,
			.slick-next-review {
				position: absolute;
				top: calc(~'50% - 15px');
				width: 17px;
				height: 30px;
				background-color: transparent;
				background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/prev-carousel.svg');
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				border: none;
				transition: background 300ms linear;

				&:hover {
					background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/prev-carousel-hover.svg');
				}
			}

			.slick-prev-review {
				left: 0;
			}

			.slick-next-review {
				right: 0;
				transform: rotate(180deg);
			}
		}

		&-item {

			&__ico {
				float: left;
				width: 70px;

				@media (max-width: 1199px) {

					& {
						width: 42px;

						img {
							width: 100%;
							height: auto;
						}
					}
				}
			}

			&__text {
				float: right;
				width: calc(~'100% - 100px');

				@media (max-width: 1199px) {

					& {
						width: calc(~'100% - 71px');
					}
				}

				p {
					margin-bottom: 0;

					&.title {
						margin-top: -7px;
						font: 16px/24px @bold;
						text-transform: uppercase;
						color: @utpTitle;
					}

					&.date {
						font: 12px/24px @regular;
						color: @date;
					}

					&.introtext {
						font: 15px/24px @regular;
						color: @introtext;

						@media (max-width: 1199px) {

							& {
								margin-left: -71px;
								margin-top: 10px;
							}
						}
					}
				}
			}

			&::after {
				display: block;
				width: 100%;
				clear: both;
				content: '';
			}
		}
	}

	.design-project {
		margin-top: 42px;

		.title-category();

		.tabs-content {
			position: relative;
		}

		.slick-prev-design,
		.slick-prev-wdesign,
		.slick-next-design,
		.slick-next-wdesign {
			position: absolute;
			z-index: 2;
			top: 4px;
			width: 12px;
			height: 23px;
			background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/prev-carousel.svg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			border: none;
			background-color: transparent;
			transition: background 300ms linear;

				&:hover {
					background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/prev-carousel-hover.svg');
				}

			@media (max-width: 767px) {

				& {
					z-index: 2;
					top: calc(~'50% - 11.5px');
				}
			}
		}

		.slick-prev-design,
		.slick-prev-wdesign {
			right: 39px;

			@media (max-width: 767px) {

				& {
					right: auto;
					left: 15px;
				}
			}
		}

		.slick-next-design,
		.slick-next-wdesign {
			right: 15px;
			transform: rotate(180deg);
		}

		.tile-design {
			margin-left: -15px;
			margin-right: -13.5px;

			@media (max-width: 767px) {

				& {
					margin-left: 20px;
					margin-right: 20px;
				}
			}

			&__item {
				position: relative;
				padding-right: 15px;
				padding-left: 15px;

				&.slick-cloned {

					img {
						height: 193px;
					}
				}

				&__description {
					margin-top: 13px;
				}

				p {
					margin-bottom: 0;

					&.title-design {
						font: 20px/24px @regular;
						text-transform: uppercase;

						a {
							text-decoration: none;
							color: @titleLink;
						}
					}

					&.manufacturer {
						margin-top: 10px;
						padding-left: 18px;
						font: 14px @semibold;
						color: @titleManuf;
						background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/point.svg');
						background-size: 11px 15px;
						background-repeat: no-repeat;
						background-position: left center;
					}
				}

				&__img {
					position: relative;

					a {
						position: absolute;
						z-index: 3;
						left: 0;
						top: 0;
						display: block;
						width: 100%;
						height: 100%;
						background-color: fade(@green, 80%);
						text-align: center;
						transition-property: opacity;
						transition-duration: 300ms;
						transition-timing-function: linear;
						opacity: 0;
						visibility: hidden;


						span {
							position: absolute;
							left: 0;
							top: 0;
							right: 0;
							bottom: 0;
							margin: auto;
							padding-top: 2px;
							display: block;
							width: 119px;
							height: 22px;
							font: 14px @bold;
							color: @greendirty;
							text-align: center;
							text-transform: uppercase;
							background-color: @white;
							border-radius: 20px;
							opacity: 0;
							visibility: hidden;
							transition-property: opacity, visibility;
							transition-duration: 300ms;
							transition-delay: 0s;
							transition-timing-function: linear;
						}
					}

					&:hover {

						& a {
							opacity: 1;
							visibility: visible;
						}

						& span {
							opacity: 1;
							visibility: visible;
							transition-delay: 300ms;
						}
					}

				}


				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}

	.index-text {
		margin-top: 55px;

		.text-pages();
	}

	.breadcrumbs {
		margin-top: 16px;

		ul {

			li {
				display: inline-block;
				font-size: 12px/24px @semibold;
				color: @linkBread;

				svg {

					&.house {
						width: 11px;
						height: 10px;
						fill: @homeCrumb;
					}
				}

				a {
					color: @linkBread;
					font-size: 12px;
				}

				span {
					color: @yellow;
					font-size: 12px;
				}
			}
		}
	}

	.contacts {
		margin-top: 26px;
		font: 14px/24px @regular;
		color: @fildset-label;

			span {
				font-family: @semibold;
				color: @utpTitle;
			}

			p {
				margin-bottom: 0;
			}

			.frame-wrap {
				margin-top: 20px;
			}

			h2 {
				font: 16px/24px @semibold;
				color: @utpTitle;
				text-transform: uppercase;
			}

			label {
				display: block;
				font: 14px/24px @regular;
				color: @fildset-label;
			}

			textarea {
				padding-left: 10px;
				padding-top: 10px;
				width: 100%;
				height: 79px;
				resize: none;
				font: 14px/24px @regular;
				color: @fildset-label;
				border: 1px @input-border solid;
				background-color: @input-bg;
				box-sizing: border-box;
				box-shadow: none;
			}

			input {

				&[type=tel],
				&[type=email],
				&[type=text] {
					padding-left: 10px;
					margin-bottom: 20px;
					width: 100%;
					height: 33px;
					font: 14px/24px @regular;
					color: @fildset-label;
					border: 1px @input-border solid;
					background-color: @input-bg;
					box-sizing: border-box;
					border-radius: 0;
					box-shadow: none;
				}

				&[type=submit] {
					margin-top: 17px;
					padding: 11px 30px;
					font: 19px @semibold;
					background-color: @ui-slider-handle;
					color: @white;
					border: none;
				}
			}

		}
}

footer {
	margin-top: 45px;
	padding-top: 27px;
	background-color: @footer;

	@media (min-width: 768px) and (max-width: 1199px) {

		& {
			position: relative;

			&::before {
				position: absolute;
				left: 0;
				bottom: 0;
				content: '';
				display: block;
				width: 100%;
				height: calc(~'100% - 270px');
				background-color: @footer-dark;
			}
		}
	}

		.logo-footer {


			img {

				&.visa {
					margin-right: 26px;
				}
			}

			p {
				font: 14px/36px @regular;
				color: @copyright;
			}
		}

		ul {
			margin-top: -5px;
			margin-bottom: 0;

			&.category {
				margin-left: -5px;

				li {
					position: relative;
					padding-left: 11px;
					list-style-type: none;

					&::before {
						position: absolute;
						left: 0;
						top: calc(~'50% - 2.5px');
						display: block;
						width: 5px;
						height: 5px;
						border-radius: 50%;
						background-color: @white;
						content: '';
					}

					a {
						font: 14px/24px @semibold;
						color: @yellow;
						transition: color 300ms linear;

						&:hover {
							color: @ulCategory;
						}
					}
				}
			}

			&.links {
				padding-bottom: 14px;

				li {
					list-style-type: none;

					a {
						font: 15px/24px @semibold;
						color: @white;
						transition: color 300ms linear;

						&:hover {
							color: @yellow;
						}
					}
				}
			}
		}

		a.pdf {
			margin-top: 25px;
			padding-left: 28px;
			display: block;
			font: 14px/24px @semibold;
			text-transform: uppercase;
			color: @white;
			background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/pdf.svg');
			background-size: 19px 21px;
			background-repeat: no-repeat;
			background-position: left center;
			transition: color 300ms linear;

				&:hover {
					color: @linkThis;
				}

			@media (max-width: 767px) {

				& {
					margin-bottom: 20px;
					margin-top: 15px;
				}
			}
		}

		svg {
			fill: @yellow;

			&.phone,
			&.time	{
				display: inline-block;
				vertical-align: top;
				width: 26px;
				height: 26px;
			}
		}


		.footer-ico {
			font-size: 0;

			@media (min-width: 768px) and (max-width: 1199px) {

				& {
					margin-top: 31px;
				}
			}

			@media (max-width: 767px) {

				& {
					margin-bottom: 24px;

					&__text {
						width: calc(~'100% - 37px');

						p {
							margin-bottom: 0;
							margin-left: 2%;
							display: inline-block;
						}
					}
				}
			}

			&__text {
				margin-left: 10px;
				display: inline-block;
				vertical-align: top;

				span {
					font: 16px/24px @semibold;
					color: @white;
				}

				p {
					margin-bottom: 7px;
					font: 14px/24px @semibold;
					color: @white;

					span {
						margin-top: 9px;
						display: block;
						font: 12px/10px @semibold;
						color: @titlespan;
					}


				}
			}
		}

		.soc-seti {
			margin-top: -79px;
			font-size: 0;

			@media (min-width: 768px) and (max-width: 1199px) {

				& {
					margin-top: 31px;
				}
			}

			@media (max-width: 767px) {

				& {
					margin-top: 0;
					margin-bottom: 35px;
				}
			}

			p {
				margin-bottom: 0;
				padding-left: 10%;
				padding-right: 10%;
				display: inline-block;
				vertical-align: middle;
				font: 13px/24px @semibold;
				color: @white;

				@media (min-width: 768px) and (max-width: 1199px) {

					& {
						padding-left: 0;
						padding-right: 0;
						display: block;
					}
				}

				@media (max-width: 767px) {

					& {
						padding-left: 0;
						padding-right: 0;
						margin-bottom: 10px;
						display: block;
					}
				}
			}

			a {
				display: inline-block;
				vertical-align: middle;

				&:not(:last-child) {
					margin-right: 10px;
				}
			}
		}

		.developer {
			padding-top: 10px;
			padding-bottom: 11px;
			font-size: 0;
			text-align: right;
			background-color: @developerBg;

				@media (max-width: 767px) {

					& {
						text-align: left;
					}
				}

				p {
					margin-bottom: 0;
					margin-right: 3%;
					display: inline-block;
					vertical-align: middle;
					font: 11px/12px @regular;
					color: @developerP;

					@media (max-width: 1199px) {

						& {
							width: 50%;
						}
					}

					&.copy {
						display: block;
						text-align: left;
						margin-right: 0;
						font-size: 14px;
						line-height: 36px;

						@media (max-width: 1199px) {

							& {
								width: 100%;
							}
						}
					}
				}

				svg {
					display: inline-block;
					vertical-align: middle;
					width: 105px;
					height: 28px;
				}

			.images {

				img {
					margin-bottom: 25px;
					display: inline-block;

					&:first-child {
						margin-right: 4%;
					}
				}
			}
		}
}