* {
	margin: 0;
	padding: 0;
}

body {
	font-family: @regular;
	font-size: 14px;
}

input,
input:focus {
	outline: none;
	border-radius: 0;
	-webkit-appearance: none;
	box-shadow: none;
}

a,
a:hover,
a:focus,
button,
button,
button:focus {
	outline: none;
	text-decoration: none;
}

.clear {
	clear: both;
}

header {

	&.inner {
		border-bottom:1px @headerBottom solid;
	}

	.position-block {
		position: relative;

		.search-form {
			position: absolute;
			z-index: 2;
			right: 0;
			bottom: -54px;
			padding: 5px;
			box-sizing: border-box;
			max-width: 451px;
			width: 100%;
			height: 51px;
			background-color: @yellow;
			opacity: 0;
			visibility: hidden;
			transition-property: opacity, visibility;
			transition-duration: 300ms;
			transition-timing-function: linear;

			&.visible--search {
				opacity: 1;
				visibility: visible;
			}

			&::before {
				position: absolute;
				top: -18px;
				right: 13px;
				display: block;
				width: 0;
				height: 0;
				border-left: 9px solid transparent;
				border-right: 9px solid transparent;
				border-bottom: 18px solid @yellow;
				content: '';
			}

			input {

				&[type=text] {
					padding-left: 8px;
					width: 100%;
					box-sizing: border-box;
					height: 41px;
					font: 14px/24px @semibold;
					color: @input-search;
					border: none;
				}
			}
		}
	}

	.header {

		&-top {
			padding-top: 5px;
			padding-bottom: 5px;
			box-sizing: border-box;
			background-color: @black;

			&__links {
				padding-top: 5px;
				text-align: right;
			}

			&__registration {

				a {
					padding-left: 17px;
					font: 13px @regular;
					color: @lightwhite;
					transition: color 300ms linear;

					&:hover {
						text-decoration: none;
						color: @yellow;
					}

					&.enter {
						margin-right: 20px;
						background-image: url(../img/key.svg);
						background-position: left center;
						background-size: 17px 17px;
						background-repeat: no-repeat;
					}

					&.registration {
						background-image: url(../img/people.svg);
						background-position: left center;
						background-size: 15px 17px;
						background-repeat: no-repeat;
					}

				}
			}

			ul {
				margin-bottom: 0;
				font-size: 0;
				text-align: justify;

				&::after {
					position: relative;
					display: inline-block;
					width: 100%;
					content: '';
				}

				li {
					display: inline-block;

					a {
						font: 13px/30px @semibold;
						color: @lightwhite;
						transition: color 300ms linear;

							&:hover {
								text-decoration: none;
								color: @yellow;
							}
					}
				}
			}

			&__link-3d,
			&__registration {
				display: inline-block;
				vertical-align: middle;
			}

			&__link-3d {
				padding-right: 22px;

				a {
					padding: 1px 10px;
					color: @lightwhite;
					background-color: @lightyellow;
					border-radius: 20px;
					transition: background 300ms linear;

						&:hover {
							background-color: @graypfruit;
						}
				}
			}

		}

		&-bottom {
			margin-top: 23px;

			.job-time {
				margin-top: 16px;
			}

			svg {
				margin-top: 6px;
				margin-right: 2px;
				display: inline-block;
				vertical-align: top;
				width: 26px;
				height: 26px;

					&.phone,
					&.time {
						fill: @phone;
					}
			}

			p {
				width: calc(~'100% - 32px');
				display: inline-block;
				vertical-align: top;

				span {
					display: block;

					&.title {
						font: 12px/22px @semibold;
						color: @titlespan;
					}

					&.subtitle {
						margin-top: -2px;
						font: 14px/14px @semibold;
						color: @phonespan;
					}

					&.link {
						margin-top: -5px;
					}

					a {
						font: 10px/24px @bold;
						color: @green;
						text-transform: uppercase;
						transition: color 300ms linear;

							&:hover {
								color: @riff-color;
							}
					}

				}

			}

			.line-hr {
				position: relative;

					&::after {
						position: absolute;
						right: 0;
						top: 0;
						height: 100%;
						width: 1px;
						display: block;
						background-color: @linehr;
						content: '';
					}
			}

			 ul {

				 &.main-menu {
					 margin-top: 7px;
					 margin-bottom: 0;
					 text-align: justify;
					 font-size: 0;

					 &::after {
						 position: relative;
						 display: inline-block;
						 width: 100%;
						 content: '';
					 }

					 li {

						 &:hover {

							 & > a {

								 & > svg.menu-arrow {

									 transform: rotate(90deg);
								 }
							 }
						 }
					 }

					 & > li {
						 position: relative;
						 padding-left: 15px;
						 padding-right: 15px;
						 padding-bottom: 15px;
						 padding-top: 4px;
						 display: inline-block;
						 background-color: transparent;
						 transition: background 300ms linear;

						 & > a {
							 text-transform: uppercase;
							 font: 14px/30px @regular;
							 color: @menu;
							 transition:  color 300ms linear;
							 vertical-align: middle;
						 }


						 &:hover {
							 background-color: @yellow;

							 & > a {
								 color: @white;
							 }
						 }

						 ul {
							 position: absolute;
							 z-index: 10;
							 text-align: left;
							 background-color: @white;

							 li {
								 position: relative;
								 list-style-type: none;
								 padding-top: 6px;
								 padding-bottom: 6px;

								 &:not(:last-child)::before {
									 position: absolute;
									 left: 13px;
									 bottom: 0;
									 display: block;
									 width: calc(~'100% - 26px');
									 height: 1px;
									 background-color: @linemenu;
									 content: '';
								 }

								 a {
									 padding-left: 15px;
									 display: inline-block;
									 box-sizing: border-box;
									 width: 100%;
									 height: 100%;
									 color: @menu;
								 }

								 &:hover {
									 background-color: @yellow;

									 &:not(:last-child)::before {
										 background-color: transparent;
									 }

									 & > a {
										 color: @white;
									 }
								 }
							 }
						 }

					 }

					 li {

						 a {
							 font-size: 14px;
							 line-height: 30px;

						 }

						 &:hover {

							 & > ul {
									display: block;
								}

							 & > a {

								 svg {
									 fill: @white;
								 }
							 }

							 & > svg {
								 fill: @white;
							 }
						 }
					 }
				 }

				 svg.menu-arrow {
					 margin-top: 0;
					 margin-left: 7px;
					 width: 4px;
					 height: 6px;
					 color: @menuarrow;
					 vertical-align: middle;
					 transition:  fill 300ms linear;
				 }

				 &.submenu {
					 top: 100%;
					 left: 0;
					 display: none;
					 width: calc(~'100% + 50px');
				 }

				 &.submenu2 {
					 left: 100%;
					 top: 0;
					 width: 90%;
					 display: none;
					 border-left: 1px @white solid;

					 	li {
							padding-right: 40px;
						}
				 }

				 &.submenu3 {
					 left: 100%;
					 width: 100%;
					 top: 0;
					 display: none;
					 border-left: 1px @white solid;
				 }

			 }

			&__cart {
				position: relative;
				margin-top: -7px;

				svg {
					width: 37px;
					height: 33px;
					fill: @cartico;
					transition: fill 300ms linear;
				}

				&:hover {

					svg {
						fill: @carthover;
					}
				}

				a {
					display: block;
					color: @white;
				}

				p {
					position: absolute;
					top: 0;
					right: 0;
					background-color: @yellow;
					display: block;
					padding: 2px 17px 2px 8px;
					text-align: center;
					font: 15px @bold;
					border-radius: 50%;
				}

			}

			&__search {
				margin-left: 20px;
				margin-top: -9px;
				padding-left: 3px;
				padding-top: 6px;
				box-sizing: border-box;
				width: 46px;
				height: 46px;
				text-align: center;
				background-color: @searchback;
				border-radius: 50%;
				cursor: pointer;
				transition: background 300ms linear;

					&.open--search {
						background-color: @yellow;

						svg {
							fill: @white;
						}
					}

					&:hover {
						background-color: @yellow;

						svg {
							fill: @white;
						}
					}

					svg {
						width: 21px;
						height: 21px;
						fill: @cartico;
						transition: fill 300ms linear;
					}
			}
		}
	}
}

main {

	.slider {
		position: relative;
		width: 100%;
		height: 534px;

			&__arrows {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 534px;

					.slick-prev,
					.slick-next {
						z-index: 1;
						top: calc(~'50% - 28.5px');
						width: 57px;
						height: 57px;
						background-color: @dark;
						border: none;
						transform: rotate(45deg);

							&::before {
								position: absolute;
								display: block;
								width: 10px;
								height: 16px;
								background-image: url(../img/prev.svg);
								background-size: 10px 16px;
								background-position: center;
								background-repeat: no-repeat;
								content: '';
								transform: rotate(-45deg);
								transition-property: background;
								transition-duration: 300ms;
								transition-timing-function: linear;
							}

							&:hover {


								&::before {
									background-image: url(../img/prev-hover.svg);
								}
							}
					}

					.slick-prev {

						&::before {
							left: 14px;
						}
					}

					.slick-next {

						&::before {
							right: 14px;
							top: 13px;
							transform: rotate(135deg);
						}
					}

					.container,
					.row,
					.col-md-12 {
						height: 534px;
					}

					.slick-next {
						right: 0;
					}
			}

			&__item {
				height: 534px;
				width: 100%;
				background-size: cover !important;
				background-position: center;
				background-repeat: no-repeat;

				.col-md-12 {
					height: 534px;
					display: flex;
					justify-content: center;
					align-items: center;
					align-content: center;
				}
			}

			.item {

				&__content {
					padding: 55px 87px;
					max-width: 920px;
					width: 100%;
					background-color: fade(@dark, 30%);

						&__white-block {
							padding: 6px;
							background-color: @white;
							font-size: 0;
						}

						.white-block {

								&__left {
									position: relative;
									z-index: 2;
									display: inline-block;
									vertical-align: middle;
									width: calc(~'100% - 371px');
									text-align: center;
									word-wrap: normal;

										p {

											&.title {
												margin-bottom: 20px;
												font: 19px @semibold;
												color: @slideTitle;
												line-height: normal;
												text-transform: uppercase;
											}

											&.subtitle {
												margin-left: -35px;
												margin-bottom: 14px;
												width: calc(~'100% + 70px');
												font: 61px @extrabold;
												line-height: normal;
												text-transform: uppercase;
												color: @white;
												background-color: @lightyellow;
											}

											&.delivery-text {
												margin-bottom: 40px;
												font: 13px @regular;
												line-height: normal;
												color: @deliveryText;
											}
										}

										a.more {
											padding: 5px 27px;
											font: 13px @semibold;
											color: white;
											text-transform: uppercase;
											background-color: @green;
											transition-property: background, color;
											transition-duration: 300ms;
											transition-timing-function: linear;

												&:hover {
													background-color: @greenDark;
													color: @green-text;
												}
										}
								}

								&__right {
									position: relative;
									z-index: 1;
									display: inline-block;
									vertical-align: middle;
									width: 371px;
								}
						}
				}

			}

			.slick-prev,
			.slick-next {
				position: absolute;
			}
	}

	.utp {
		margin-top: 44px;

		&__ico {
			width: 40px;
			float: left;

				svg {

					&.like {
						width: 40px;
						height: 40px;
					}

					&.telephone {
						width: 40px;
						height: 44px;
					}

					&.lock {
						width: 31px;
						height: 42px;
					}
				}
		}

		&__text {
			width: calc(~'100% - 50px');
			float: right;
			border-left: 2px @yellow solid;

				p {
					&.title {
						margin-bottom: 0;
						padding-left: 13px;
						font: 16px/20px @regular;
						color: @utpTitle;
						text-transform: uppercase;
					}
				}
		}

		&__description {
			clear: both;

				p {
					margin-bottom: 0;
					padding-top: 9px;
					font: 13px/20px @regular;
					color: @utpDesc;
				}
		}

		/*&::after {
			display: block;
			width: 100%;
			clear: both;
			content: '';
		}*/
	}

	.banner {
		margin-top: 20px;

		&__background {
			padding: 8px;
			width: 100%;
			height: 150px;
			background-image: url(../img/banner.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&__text {
			padding: 20px 30px;
			font-size: 0;
			background-color: fade(@black, 70%);

			&__left,
			&__right {
				display: inline-block;
				vertical-align: middle;
				width: 50%;
				text-align: right;
			}

			&__left {
				position: relative;
				padding-right: 35px;

				&::before {
					position: absolute;
					right: 0;
					top: 20%;
					display: block;
					width: 1px;
					height: 60%;
					background-color: @white;
					content: '';
				}
			}

			p {
				font: 30px @semibold;
				line-height: normal;
				color: @white;
			}

			svg {
				display: inline-block;
				vertical-align: middle;
				width: 53px;
				height: 53px;
				fill: @white;
			}

			span {
				font: 30px/55px @semibold;
				color: @white;
				vertical-align: middle;
				margin-left: 30px;
			}

		}
	}

	.new {
		margin-top: 39px;

		.title-category();
	}

	.tabs {

		&__link {
			margin-bottom: 27px;

			ul {
				font-size: 0;

				li {
					display: inline-block;

					&:not(:first-child) {
						margin-left: 7px;
					}

					a {
						padding: 0 15px;
						font: 16px/24px @semibold;
						color: @utpTitle;
						border-radius: 20px;
						transition: color 300ms linear, background 300ms linear;

						&.active {
							background-color: @yellow;
							color: @white;
						}

						&:hover {
							background-color: @yellow;
							color: @white;
						}
					}
				}
			}
		}

		&__content  {

			&__block {
				opacity: 0;
				height: 0;
				overflow: hidden;
				visibility: hidden;

				img {
					display: none;
				}

				&.visible--tab {
					opacity: 1;
					height: auto;
					overflow: visible;
					visibility: visible;

					img {
						display: inline;
					}

				}
			}
		}
	}

	a.more-this-category {
		margin-top: 17px;
		display: inline-block;
		font: 16px/24px @semibold;
		text-transform: uppercase;
		color: @yellow;
		transition: color 300ms linear;

			&:hover {
				color: @linkThis;
			}
	}

	.item-card {
		background-color: #fff;
		box-shadow: 0 0 13px 0 fade(@dark, 24%);

		&__img {
			position: relative;

			.recommended-banner {
				position: absolute;
				z-index: 2;
				left: 9px;
				top: 19px;

				.recommend-banner();
			}

			a {
				position: absolute;
				z-index: 3;
				left: 0;
				top: 0;
				display: block;
				width: 100%;
				height: 100%;
				background-color: fade(@green, 80%);
				text-align: center;
				transition-property: opacity;
				transition-duration: 300ms;
				transition-timing-function: linear;
				opacity: 0;
				visibility: hidden;


				span {
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					padding-top: 2px;
					display: block;
					width: 119px;
					height: 22px;
					font: 14px @bold;
					color: @greendirty;
					text-align: center;
					text-transform: uppercase;
					background-color: @white;
					border-radius: 20px;
					opacity: 0;
					visibility: hidden;
					transition-property: opacity, visibility;
					transition-duration: 300ms;
					transition-delay: 0s;
					transition-timing-function: linear;

					&:hover {
						background-color: @more-tile;
						color: @white;
					}
				}
			}

			&:hover {

				.recommended-banner {
					display: none;
				}

				& a {
					opacity: 1;
					visibility: visible;
				}

				& span {
					opacity: 1;
					visibility: visible;
					transition-delay: 300ms;
				}
			}

			img {
				width: 100%;
				height: auto;
			}

		}

		&__text {
			padding: 14px 15px 5px;

				p {
					margin-bottom: 0;

					&.title {
						font: 20px/24px @regular;
						text-transform: uppercase;

						a {
							color: @titleLink;
						}
					}

					&.manufacturer {
						margin-top: 10px;
						padding-left: 18px;
						font: 14px @semibold;
						color: @titleManuf;
						background-image: url(../img/point.svg);
						background-size: 11px 15px;
						background-repeat: no-repeat;
						background-position: left center;
					}

					&.type {
						padding-left: 18px;
						font: 13px/20px @regular;
						color: @utpDesc;
					}

					&.price {
						margin-top: 13px;
						padding-top: 5px;
						font: 16px @regular;
						border-top: 1px @linehr solid;
						color: @price;

							span {
								font: 30px @bold;
							}
					}
				}
		}

	}

	div.manufacturer {
		margin-top: 64px;

		.title-category(100%,14px);

		.tile,
		.wallpaper {
			position: relative;

			.slick-prev-tile,
			.slick-prev-wall,
			.slick-next-tile,
			.slick-next-wall {
				position: absolute;
				z-index: 3;
				top: calc(~'50% - 15px');
				width: 17px;
				height: 30px;
				background-color: transparent;
				border: none;
				background-image: url(../img/prev-carousel.svg);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				transition: background 300ms linear;

					&:hover {
						background-image: url(../img/prev-carousel-hover.svg);
					}
			}

			.slick-prev-tile,
			.slick-prev-wall {
				left: -50px;
			}

			.slick-next-tile,
			.slick-next-wall {
				transform: rotate(180deg);
				right: -50px;
			}
		}

		.tabs {

			&__content {
				padding-left: 50px;
				padding-right: 50px;
			}
		}
	}

	.hits {
		margin-top: 64px;

		.title-category();

		.tabs{

			&__link {
				margin-bottom: 40px;
			}
		}

		a.more-this-category {
			margin-top: 30px;
		}
	}

	.question {
		margin-top: 48px;
		padding-top: 46px;
		padding-bottom: 46px;
		height: 210px;
		width: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

			&__text {
				padding-top: 36px;
				padding-bottom: 33px;
				background-color: fade(@dark, 50%);

					&__descript {
						padding-left: 100px;

						p {
							margin-bottom: 0;
							font: 24px @bold;
							color: @questionP;

							span {
								font: 24px @bold;
								color: @questionSpan;
							}
						}

						span {
							font: 14px @regular;
							color: @white;
						}
					}

					input {
						margin-top: 5px;

						&[type=phone] {
							padding-left: 20px;
							width: 100%;
							height: 48px;
							font: 18px @regular;
							border: 2px @white solid;
							box-sizing: border-box;
							border-radius: 5px;
							background-color: transparent;
							color: @white;
						}

						&[type=submit] {
							width: 100%;
							height: 48px;
							font: 18px @bold;
							color: @green-text;
							text-align: center;
							text-transform: uppercase;
							border: none;
							cursor: pointer;
							background-color: @green;
							border-radius: 5px;
							transition: background 300ms linear, color 300ms linear;

								&:hover {
									background-color: @questionSubmitHover;
									color: @white;
								}
						}
					}
			}
	}

	.sales {
		margin-top: 56px;

		.title-category();

		.item-card {
			margin-bottom: 30px;
		}
	}

	.style-slider {
		position: relative;
		margin-top: 66px;



		.arrow-style {
			position: absolute;
			z-index: 3;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			padding-left: 15px;
			padding-right: 15px;
			width: 100%;
			height: 100%;
			max-width: 1170px;

				&::after {
					position: absolute;
					right: 27px;
					top: 61px;
					display: block;
					width: 57px;
					height: 57px;
					background-color: @dark;
					content: '';
					transform: rotate(45deg);
				}

				.slick-prev-style,
				.slick-next-style {
					position: absolute;
					z-index: 10;
					width: 10px;
					height: 16px;
					background-image: url(../img/prev.svg);
					background-size: 10px 16px;
					background-position: center;
					background-repeat: no-repeat;
					background-color: transparent;
					content: '';
					border: none;
					cursor: pointer;
					transition: background 300ms linear;

						&:hover {
							background-image: url(../img/prev-hover.svg);
						}
				}

				.slick-prev-style {
					right: 60px;
					top: 80px;
				}

				.slick-next-style {
					right: 40px;
					top: 80px;
					transform: rotate(180deg);
				}

		}

		&__item {
			position: relative;

			& > img {
				width: 100%;
				height: auto;
			}

			p {
				padding-right: 98px;
				font: 40px/24px @light;
				color: @utpTitle;
				text-align: right;
			}

			&__tile {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				margin: auto;
				padding-left: 15px;
				padding-right: 15px;
				padding-top: 74px;
				width: 100%;
				height: 100%;
				max-width: 1170px;

				.four-w {
					position: absolute;
					top: 135px;
					left: 90px;
					transform: rotate(45deg);
					width: 407px;
					height: 407px;
					border: 6px @white solid;
					border-radius: 5px;
					overflow: hidden;
					box-sizing: border-box;

						img {
							position: absolute;
							top: -95px;
							left: -95px;
							transform: rotate(-45deg);
						}
				}

				.two-w {
					position: absolute;
					top: 95px;
					left: 477px;
					width: 205px;
					height: 205px;
					border: 6px @white solid;
					border-radius: 5px;
					transform: rotate(45deg);
					box-sizing: border-box;
					overflow: hidden;

					img {
						position: absolute;
						top: -55px;
						left: -55px;
						transform: rotate(-45deg);
					}

					&.two {
						top: 380px;
						left: 475px;
					}

					&.three {
						top: 237px;
						left: 616px;
					}

					&.four {
						top: 378px;
						right: 207px;
						left: auto;
					}

					&.five {
						top: 237px;
						right: 66px;
						left: auto;
					}
				}
			}
		}
	}

	.interior-catalog {
		margin-top: 42px;

		.title-category();

		.tabs-content {
			position: relative;
		}

		.slick-prev-interior,
		.slick-prev-wallinterior,
		.slick-next-interior,
		.slick-next-wallinterior {
			position: absolute;
			top: 4px;
			width: 12px;
			height: 23px;
			background-image: url(../img/prev-carousel.svg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			border: none;
			background-color: transparent;
			transition: background 300ms linear;

			&:hover {
				background-image: url(../img/prev-carousel-hover.svg);
			}
		}

		.slick-prev-interior,
		.slick-prev-wallinterior {
			right: 39px;
		}

		.slick-next-interior,
		.slick-next-wallinterior {
			right: 15px;
			transform: rotate(180deg);
		}

		.tile-interior {
			margin-left: -15px;
			margin-right: -13.5px;

			&__item {
				position: relative;
				padding-right: 15px;
				padding-left: 15px;

				&.slick-cloned {

					img {
						height: 193px;
					}
				}

				a {
					position: absolute;
					z-index: 3;
					left: 15px;
					top: 0;
					display: block;
					width: calc(~'100% - 30px');
					height: 100%;
					background-color: fade(@green, 80%);
					text-align: center;
					transition-property: opacity;
					transition-duration: 300ms;
					transition-timing-function: linear;
					opacity: 0;
					visibility: hidden;


					span {
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						padding-top: 2px;
						display: block;
						width: 119px;
						height: 22px;
						font: 14px @bold;
						color: @greendirty;
						text-align: center;
						text-transform: uppercase;
						background-color: @white;
						border-radius: 20px;
						opacity: 0;
						visibility: hidden;
						transition-property: opacity, visibility;
						transition-duration: 300ms;
						transition-delay: 0s;
						transition-timing-function: linear;
					}
				}

				&:hover {

					& a {
						opacity: 1;
						visibility: visible;
					}

					& span {
						opacity: 1;
						visibility: visible;
						transition-delay: 300ms;
					}
				}


				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}

	.reviews {
		margin-top: 66px;

		.title-category();

		&__slider {
			position: relative;
			margin-top: 72px;

			.slick-prev-review,
			.slick-next-review {
				position: absolute;
				top: calc(~'50% - 15px');
				width: 17px;
				height: 30px;
				background-color: transparent;
				background-image: url(../img/prev-carousel.svg);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				border: none;
				transition: background 300ms linear;

				&:hover {
					background-image: url(../img/prev-carousel-hover.svg);
				}
			}

			.slick-prev-review {
				left: 0;
			}

			.slick-next-review {
				right: 0;
				transform: rotate(180deg);
			}
		}

		&-item {

			&__ico {
				float: left;
				width: 70px;
			}

			&__text {
				float: right;
				width: calc(~'100% - 100px');

				p {
					margin-bottom: 0;

					&.title {
						margin-top: -7px;
						font: 16px/24px @bold;
						text-transform: uppercase;
						color: @utpTitle;
					}

					&.date {
						font: 12px/24px @regular;
						color: @date;
					}

					&.introtext {
						font: 15px/24px @regular;
						color: @introtext;
					}
				}
			}

			&::after {
				display: block;
				width: 100%;
				clear: both;
				content: '';
			}
		}

		&__slider {
			padding-left: 190px;
			padding-right: 190px;
		}
	}

	.design-project {
		margin-top: 42px;

		.title-category();

		.tabs-content {
			position: relative;
		}

		.slick-prev-design,
		.slick-prev-wdesign,
		.slick-next-design,
		.slick-next-wdesign {
			position: absolute;
			top: 4px;
			width: 12px;
			height: 23px;
			background-image: url(../img/prev-carousel.svg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			border: none;
			background-color: transparent;
			transition: background 300ms linear;

				&:hover {
					background-image: url(../img/prev-carousel-hover.svg);
				}
		}

		.slick-prev-design,
		.slick-prev-wdesign {
			right: 39px;
		}

		.slick-next-design,
		.slick-next-wdesign {
			right: 15px;
			transform: rotate(180deg);
		}

		.tile-design {
			margin-left: -15px;
			margin-right: -13.5px;

			&__item {
				position: relative;
				padding-right: 15px;
				padding-left: 15px;

				&.slick-cloned {

					img {
						height: 193px;
					}
				}

				&__description {
					margin-top: 13px;
				}

				p {
					margin-bottom: 0;

					&.title-design {
						font: 20px/24px @regular;
						text-transform: uppercase;

						a {
							text-decoration: none;
							color: @titleLink;
						}
					}

					&.manufacturer {
						margin-top: 10px;
						padding-left: 18px;
						font: 14px @semibold;
						color: @titleManuf;
						background-image: url(../img/point.svg);
						background-size: 11px 15px;
						background-repeat: no-repeat;
						background-position: left center;
					}
				}

				&__img {
					position: relative;

					a {
						position: absolute;
						z-index: 3;
						left: 0;
						top: 0;
						display: block;
						width: 100%;
						height: 100%;
						background-color: fade(@green, 80%);
						text-align: center;
						transition-property: opacity;
						transition-duration: 300ms;
						transition-timing-function: linear;
						opacity: 0;
						visibility: hidden;


						span {
							position: absolute;
							left: 0;
							top: 0;
							right: 0;
							bottom: 0;
							margin: auto;
							padding-top: 2px;
							display: block;
							width: 119px;
							height: 22px;
							font: 14px @bold;
							color: @greendirty;
							text-align: center;
							text-transform: uppercase;
							background-color: @white;
							border-radius: 20px;
							opacity: 0;
							visibility: hidden;
							transition-property: opacity, visibility;
							transition-duration: 300ms;
							transition-delay: 0s;
							transition-timing-function: linear;
						}
					}

					&:hover {

						& a {
							opacity: 1;
							visibility: visible;
						}

						& span {
							opacity: 1;
							visibility: visible;
							transition-delay: 300ms;
						}
					}

				}


				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}

	.index-text {
		margin-top: 55px;

		.text-pages();
	}

	.breadcrumbs {
		margin-top: 16px;

		ul {

			li {
				display: inline-block;
				font-size: 12px/24px @semibold;
				color: @linkBread;

				svg {

					&.house {
						width: 11px;
						height: 10px;
						fill: @homeCrumb;
					}
				}

				a {
					color: @linkBread;
					font-size: 12px;
				}

				span {
					color: @yellow;
					font-size: 12px;
				}
			}
		}
	}

}

footer {
	margin-top: 45px;
	padding-top: 27px;
	background-color: @footer;

		.logo-footer {


			img {

				&.visa {
					margin-right: 26px;
				}
			}

			p {
				font: 14px/36px @regular;
				color: @copyright;
			}
		}

		ul {
			margin-top: -5px;
			margin-bottom: 0;

			&.category {
				margin-left: -5px;

				li {
					position: relative;
					padding-left: 11px;
					list-style-type: none;

					&::before {
						position: absolute;
						left: 0;
						top: calc(~'50% - 2.5px');
						display: block;
						width: 5px;
						height: 5px;
						border-radius: 50%;
						background-color: @white;
						content: '';
					}

					a {
						font: 14px/24px @semibold;
						color: @yellow;
						transition: color 300ms linear;

						&:hover {
							color: @ulCategory;
						}
					}
				}
			}

			&.links {
				padding-bottom: 14px;

				li {
					list-style-type: none;

					a {
						font: 15px/24px @semibold;
						color: @white;
						transition: color 300ms linear;

						&:hover {
							color: @yellow;
						}
					}
				}
			}
		}

		a.pdf {
			margin-top: 25px;
			padding-left: 28px;
			display: block;
			font: 14px/24px @semibold;
			text-transform: uppercase;
			color: @white;
			background-image: url(../img/pdf.svg);
			background-size: 19px 21px;
			background-repeat: no-repeat;
			background-position: left center;
			transition: color 300ms linear;

				&:hover {
					color: @linkThis;
				}
		}

		svg {
			fill: @yellow;

			&.phone,
			&.time	{
				display: inline-block;
				vertical-align: top;
				width: 26px;
				height: 26px;
			}
		}


		.footer-ico {
			font-size: 0;

			&__text {
				margin-left: 10px;
				display: inline-block;
				vertical-align: top;

				span {
					font: 16px/24px @semibold;
					color: @white;
				}

				p {
					margin-bottom: 7px;
					font: 14px/24px @semibold;
					color: @white;

					span {
						margin-top: 9px;
						display: block;
						font: 12px/10px @semibold;
						color: @titlespan;
					}


				}
			}
		}

		.soc-seti {
			margin-top: -79px;
			font-size: 0;

			p {
				margin-bottom: 0;
				padding-left: 10%;
				padding-right: 10%;
				display: inline-block;
				vertical-align: middle;
				font: 13px/24px @semibold;
				color: @white;
			}

			a {
				display: inline-block;
				vertical-align: middle;

				&:not(:last-child) {
					margin-right: 10px;
				}
			}
		}

		.developer {
			padding-top: 10px;
			padding-bottom: 11px;
			font-size: 0;
			text-align: right;
			background-color: @developerBg;

				p {
					margin-bottom: 0;
					margin-right: 3%;
					display: inline-block;
					vertical-align: middle;
					font: 11px/12px @regular;
					color: @developerP;
				}

				svg {
					display: inline-block;
					vertical-align: middle;
					width: 105px;
					height: 28px;
				}
		}
}