include includes/head
include includes/header
include includes/breadcrumbs
include includes/title
include includes/calculate
include includes/footer
include includes/scripts
include includes/mixins
doctype html

html(lang="en")
    head
        +head('Калькулятор плитки')
    body
        include blocks/svg.html
        // Шапка сайта
        +header('inner')
        //
        main
            +breadcrumbs()
            +title('Калькулятор плитки')

            +calculate('tile')

        footer
            +footer()
        +scripts()