include includes/head
include includes/header
include includes/slider
include includes/utp
include includes/banner
include includes/new
include includes/manufacturer
include includes/hits
include includes/question
include includes/sales
include includes/style-slider
include includes/interior-catalog
include includes/footer
include includes/scripts
include includes/mixins
doctype html

html(lang="en")
    head
        +head()
    body
        include blocks/svg.html

        // Шапка сайта
        +header()
        //

        main

            +slider()

            +utp()

            +banner()

            +new()

            +manufacturer()

            +hits()

            +question()

            +sales()

            +style-slider()

            +interior-catalog()

        footer
            +footer()
        +scripts()