include includes/head
include includes/header
include includes/slider
include includes/utp
include includes/banner
include includes/new
include includes/manufacturer
include includes/hits
include includes/question
include includes/sales
include includes/style-slider
include includes/interior-catalog
include includes/reviews
include includes/design-project
include includes/index-text
include includes/footer
include includes/scripts
include includes/popup-3d
include includes/mixins
doctype html

html(lang="en")
    head
        +head('Главная')
    body
        include blocks/svg.html

        // Шапка сайта
        +header('index')
        //

        main

            +slider()

            +utp()

            +banner()

            +new()

            +manufacturer()

            +hits()

            +question()

            +sales()

            +style-slider()

            +interior-catalog()

            +reviews()

            +design-project()

            +index-text()

        footer
            +footer()
        +popup-3d()
        +scripts()