include includes/head
include includes/header
include includes/breadcrumbs
include includes/title
include includes/manufacturer-lists
include includes/footer
include includes/scripts
include includes/mixins
doctype html
html(lang="en")
    head
        +head('Производители плитки')
    body
        include blocks/svg.html
        // Шапка сайта
        +header('inner')
        //
        main
            +breadcrumbs()
            +title('Производители плитки')

            +manufacturer-lists()
     
        footer
            +footer()
        +scripts()