include includes/head
include includes/header
include includes/breadcrumbs
include includes/title
include includes/title
include includes/map
include includes/footer
include includes/scripts
include includes/mixins
doctype html

html(lang="en")
    head
        +head()
    body
        include blocks/svg.html

        // Шапка сайта
        +header('inner')
        //

        main
            +breadcrumbs()

            +title('Обои')

            +map()



        footer
            +footer()
        +scripts()