include includes/head
include includes/header
include includes/breadcrumbs
include includes/title
include includes/title
include includes/map-t
include includes/footer
include includes/scripts
include includes/mixins
doctype html

html(lang="en")
    head
        +head('Карточка элемента плитки')
    body
        include blocks/svg.html

        // Шапка сайта
        +header('inner')
        //
        main
            +breadcrumbs()

            +title('Коллекция империал')

            +map-t()

        footer
            +footer()
        +scripts()