mixin banner()
   .banner
      .container
         .row
            .col-md-12
               .banner__background
                  .row
                     .col-md-7.col-md-offset-4
                        .banner__text
                           .banner__text__left
                              p  Мы рады Вас видеть  8 Марта
                           .banner__text__right
                              +svg('time')
                              span c 10 до 15 ч.


