mixin breadcrumbs()
   .breadcrumbs
      .container
         .row
            .col-md-12
               ul
                  li:   a(href="javascript:void(0)"):  +svg('house')
                  = ' - '
                  li:   a(href="javascript:void(0)")  Каталог
                  = ' - '
                  li:   span  Обои