mixin catalog-text()
   .catalog-text
      .container
         .row
            .col-md-12
               .catalog-text__description
                  h2 Керамическая плитка в интернет-магазине «Фан керамика»
                  p Отделочная керамика широко используется для оформления жилых, производственных, коммерческих интерьеров. Преимуществами создаваемых с ее помощью покрытий являются внешняя привлекательность и долговечность.  Отделочная керамика широко используется для оформления жилых, производственных, коммерческих интерьеров. Преимуществами создаваемых с ее помощью покрытий
                  p
                   span.bold  Отделочная керамика
                   = ' '
                   | широко используется для оформления жилых, производственных, коммерческих интерьеров. Преимуществами создаваемых с ее помощью покрытий являются внешняя привлекательность и долговечность.  Отделочная керамика широко используется для оформления жилых, производственных, коммерческих интерьеров. Преимуществами создаваемых с ее помощью покрытий
                  p Отделочная керамика широко используется для оформления жилых, производственных, коммерческих интерьеров. Преимуществами создаваемых с ее помощью покрытий являются внешняя привлекательность и долговечность.  Отделочная керамика широко используется для оформления жилых, производственных, коммерческих интерьеров. Преимуществами создаваемых с ее помощью покрытий