
include left-filter
include pagination

mixin catalog-tale()
    .catalog
        .container
            .row
                .col-md-3
                    +left-filter()
                .col-md-9
                    .catalog__list
                        .row
                            .col-md-4
                                .item-card
                                    .item-card__img
                                        .recommended-banner.new
                                            p   Новинка
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Керамогранит
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./м
                                            sup 2
                            .col-md-4
                                .item-card
                                    .item-card__img
                                        .recommended-banner.hit
                                            p   Хит
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Керамогранит
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./м
                                            sup 2
                            .col-md-4
                                .item-card
                                    .item-card__img
                                        .recommended-banner.recom
                                            p   Советуем
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Керамогранит
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./м
                                            sup 2
                            .col-md-4
                                .item-card
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Керамогранит
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./м
                                            sup 2
                            .col-md-4
                                .item-card
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Керамогранит
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./м
                                            sup 2
                            .col-md-4
                                .item-card
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Керамогранит
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./м
                                            sup 2
                            .col-md-4
                                .item-card
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Керамогранит
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./м
                                            sup 2
                            .col-md-4
                                .item-card
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Керамогранит
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./м
                                            sup 2
                            .col-md-4
                                .item-card
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Керамогранит
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./м
                                            sup 2
                            .col-md-4
                                .item-card
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Керамогранит
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./м
                                            sup 2
                            .col-md-4
                                .item-card
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Керамогранит
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./м
                                            sup 2
                            .col-md-4
                                .item-card
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Керамогранит
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./м
                                            sup 2
                            .col-md-4
                                .item-card
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Керамогранит
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./м
                                            sup 2
                            .col-md-4
                                .item-card
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Керамогранит
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./м
                                            sup 2
                            .col-md-4
                                .item-card
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Керамогранит
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./м
                                            sup 2
                            .col-md-4
                                .item-card
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Керамогранит
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./м
                                            sup 2
                            .col-md-4
                                .item-card
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Керамогранит
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./м
                                            sup 2
                            .col-md-4
                                .item-card
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Керамогранит
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./м
                                            sup 2
                        .row
                            .col-md-12
                                +pagination()


