include pagination

mixin catalog-design()
   .catalog-design
      .container
         .row
            .col-md-3.col-sm-4.col-xs-12
               .item-card
                  .item-card__img
                     a(href="javascript:void(0)"): span  Подробнее
                     img(data-original="../img/item-wallpaper.jpg").js-lazy
                  .item-card__text
                     p.title: a(href="javascript:void(0)")  Империал
                     p.manufacturer Испания. Atlantic Tiles
            .col-md-3.col-sm-4.col-xs-12
               .item-card
                  .item-card__img
                     a(href="javascript:void(0)"): span  Подробнее
                     img(data-original="../img/item-wallpaper.jpg").js-lazy
                  .item-card__text
                     p.title: a(href="javascript:void(0)")  Империал
                     p.manufacturer Испания. Atlantic Tiles
            .col-md-3.col-sm-4.col-xs-12
               .item-card
                  .item-card__img
                     a(href="javascript:void(0)"): span  Подробнее
                     img(data-original="../img/item-wallpaper.jpg").js-lazy
                  .item-card__text
                     p.title: a(href="javascript:void(0)")  Империал
                     p.manufacturer Испания. Atlantic Tiles
            .col-md-3.col-sm-4.col-xs-12
               .item-card
                  .item-card__img
                     a(href="javascript:void(0)"): span  Подробнее
                     img(data-original="../img/item-wallpaper.jpg").js-lazy
                  .item-card__text
                     p.title: a(href="javascript:void(0)")  Империал
                     p.manufacturer Испания. Atlantic Tiles
            .col-md-3.col-sm-4.col-xs-12
               .item-card
                  .item-card__img
                     a(href="javascript:void(0)"): span  Подробнее
                     img(data-original="../img/item-wallpaper.jpg").js-lazy
                  .item-card__text
                     p.title: a(href="javascript:void(0)")  Империал
                     p.manufacturer Испания. Atlantic Tiles
            .col-md-3.col-sm-4.col-xs-12
               .item-card
                  .item-card__img
                     a(href="javascript:void(0)"): span  Подробнее
                     img(data-original="../img/item-wallpaper.jpg").js-lazy
                  .item-card__text
                     p.title: a(href="javascript:void(0)")  Империал
                     p.manufacturer Испания. Atlantic Tiles
            .col-md-3.col-sm-4.col-xs-12
               .item-card
                  .item-card__img
                     a(href="javascript:void(0)"): span  Подробнее
                     img(data-original="../img/item-wallpaper.jpg").js-lazy
                  .item-card__text
                     p.title: a(href="javascript:void(0)")  Империал
                     p.manufacturer Испания. Atlantic Tiles
            .col-md-3.col-sm-4.col-xs-12
               .item-card
                  .item-card__img
                     a(href="javascript:void(0)"): span  Подробнее
                     img(data-original="../img/item-wallpaper.jpg").js-lazy
                  .item-card__text
                     p.title: a(href="javascript:void(0)")  Империал
                     p.manufacturer Испания. Atlantic Tiles
            .col-md-3.col-sm-4.col-xs-12
               .item-card
                  .item-card__img
                     a(href="javascript:void(0)"): span  Подробнее
                     img(data-original="../img/item-wallpaper.jpg").js-lazy
                  .item-card__text
                     p.title: a(href="javascript:void(0)")  Империал
                     p.manufacturer Испания. Atlantic Tiles
            .col-md-3.col-sm-4.col-xs-12
               .item-card
                  .item-card__img
                     a(href="javascript:void(0)"): span  Подробнее
                     img(data-original="../img/item-wallpaper.jpg").js-lazy
                  .item-card__text
                     p.title: a(href="javascript:void(0)")  Империал
                     p.manufacturer Испания. Atlantic Tiles
            .col-md-3.col-sm-4.col-xs-12
               .item-card
                  .item-card__img
                     a(href="javascript:void(0)"): span  Подробнее
                     img(data-original="../img/item-wallpaper.jpg").js-lazy
                  .item-card__text
                     p.title: a(href="javascript:void(0)")  Империал
                     p.manufacturer Испания. Atlantic Tiles
            .col-md-3.col-sm-4.col-xs-12
               .item-card
                  .item-card__img
                     a(href="javascript:void(0)"): span  Подробнее
                     img(data-original="../img/item-wallpaper.jpg").js-lazy
                  .item-card__text
                     p.title: a(href="javascript:void(0)")  Империал
                     p.manufacturer Испания. Atlantic Tiles
            .col-md-3.col-sm-4.col-xs-12
               .item-card
                  .item-card__img
                     a(href="javascript:void(0)"): span  Подробнее
                     img(data-original="../img/item-wallpaper.jpg").js-lazy
                  .item-card__text
                     p.title: a(href="javascript:void(0)")  Империал
                     p.manufacturer Испания. Atlantic Tiles
            .col-md-3.col-sm-4.col-xs-12
               .item-card
                  .item-card__img
                     a(href="javascript:void(0)"): span  Подробнее
                     img(data-original="../img/item-wallpaper.jpg").js-lazy
                  .item-card__text
                     p.title: a(href="javascript:void(0)")  Империал
                     p.manufacturer Испания. Atlantic Tiles
            .col-md-3.col-sm-4.col-xs-12
               .item-card
                  .item-card__img
                     a(href="javascript:void(0)"): span  Подробнее
                     img(data-original="../img/item-wallpaper.jpg").js-lazy
                  .item-card__text
                     p.title: a(href="javascript:void(0)")  Империал
                     p.manufacturer Испания. Atlantic Tiles
            .col-md-3.col-sm-4.col-xs-12
               .item-card
                  .item-card__img
                     a(href="javascript:void(0)"): span  Подробнее
                     img(data-original="../img/item-wallpaper.jpg").js-lazy
                  .item-card__text
                     p.title: a(href="javascript:void(0)")  Империал
                     p.manufacturer Испания. Atlantic Tiles
            .col-md-3.col-sm-4.col-xs-12
               .item-card
                  .item-card__img
                     a(href="javascript:void(0)"): span  Подробнее
                     img(data-original="../img/item-wallpaper.jpg").js-lazy
                  .item-card__text
                     p.title: a(href="javascript:void(0)")  Империал
                     p.manufacturer Испания. Atlantic Tiles
            .col-md-3.col-sm-4.col-xs-12
               .item-card
                  .item-card__img
                     a(href="javascript:void(0)"): span  Подробнее
                     img(data-original="../img/item-wallpaper.jpg").js-lazy
                  .item-card__text
                     p.title: a(href="javascript:void(0)")  Империал
                     p.manufacturer Испания. Atlantic Tiles
            .col-md-3.col-sm-4.col-xs-12
               .item-card
                  .item-card__img
                     a(href="javascript:void(0)"): span  Подробнее
                     img(data-original="../img/item-wallpaper.jpg").js-lazy
                  .item-card__text
                     p.title: a(href="javascript:void(0)")  Империал
                     p.manufacturer Испания. Atlantic Tiles
            .col-md-3.col-sm-4.col-xs-12
               .item-card
                  .item-card__img
                     a(href="javascript:void(0)"): span  Подробнее
                     img(data-original="../img/item-wallpaper.jpg").js-lazy
                  .item-card__text
                     p.title: a(href="javascript:void(0)")  Империал
                     p.manufacturer Испания. Atlantic Tiles
         .row
            .col-md-12
               +pagination()

