
include left-filter
include pagination

mixin catalog()
    .catalog
        .container
            .row
                .col-md-3
                    +left-filter()
                .col-md-9
                    .catalog__list
                        .row
                            .col-md-4.col-sm-6
                                .item-card.tale
                                    .item-card__img
                                        .wrap-recommended
                                            .recommended-banner.new
                                                p   Новинка
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text.js-text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.collection-type   Коллекция Империал
                                        .sizes
                                            +svg('size')
                                            p  Размер плитки:
                                                span  20x40 см
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./рулон
                                        .item-card__button
                                            form
                                                .item-card__left-button
                                                    button.minus   -
                                                    input(type="text" value="1")
                                                    button.plus +
                                                .item-card__right-button
                                                    input(type="button" value="В корзину")
                                        .item-card__one-click
                                            a(href="javascript:void(0)")    Купить в 1 клик

                            .col-md-4.col-sm-6
                                .item-card.tale
                                    .item-card__img
                                        .wrap-recommended
                                            .recommended-banner.hit
                                                p   Хит
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text.js-text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Флизилиновые, 110 см
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./рулон
                            .col-md-4.col-sm-6
                                .item-card.tale
                                    .item-card__img
                                        .wrap-recommended
                                            .recommended-banner.recom
                                                p   Советуем
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text.js-text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Флизилиновые, 110 см
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./рулон
                            .col-md-4.col-sm-6
                                .item-card.tale
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text.js-text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Флизилиновые, 110 см
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./рулон
                            .col-md-4.col-sm-6
                                .item-card.tale
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text.js-text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Флизилиновые, 110 см
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./рулон
                            .col-md-4.col-sm-6
                                .item-card.tale
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text.js-text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Флизилиновые, 110 см
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./рулон
                            .col-md-4.col-sm-6
                                .item-card.tale
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text.js-text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Флизилиновые, 110 см
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./рулон
                            .col-md-4.col-sm-6
                                .item-card.tale
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text.js-text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Флизилиновые, 110 см
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./рулон
                            .col-md-4.col-sm-6
                                .item-card.tale
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text.js-text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Флизилиновые, 110 см
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./рулон
                            .col-md-4.col-sm-6
                                .item-card.tale
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text.js-text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Флизилиновые, 110 см
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./рулон
                            .col-md-4.col-sm-6
                                .item-card.tale
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text.js-text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Флизилиновые, 110 см
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./рулон
                            .col-md-4.col-sm-6
                                .item-card.tale
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text.js-text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Флизилиновые, 110 см
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./рулон
                            .col-md-4.col-sm-6
                                .item-card.tale
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text.js-text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Флизилиновые, 110 см
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./рулон
                            .col-md-4.col-sm-6
                                .item-card.tale
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text.js-text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Флизилиновые, 110 см
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./рулон
                            .col-md-4.col-sm-6
                                .item-card.tale
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text.js-text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Флизилиновые, 110 см
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./рулон
                            .col-md-4.col-sm-6
                                .item-card.tale
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text.js-text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Флизилиновые, 110 см
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./рулон
                            .col-md-4.col-sm-6
                                .item-card.tale
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text.js-text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Флизилиновые, 110 см
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./рулон
                            .col-md-4.col-sm-6
                                .item-card.tale
                                    .item-card__img
                                        a(href="javascript:void(0)"): span  Подробнее
                                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                                    .item-card__text.js-text
                                        p.title: a(href="javascript:void(0)")  Империал
                                        p.manufacturer Испания. Atlantic Tiles
                                        p.type   Флизилиновые, 110 см
                                        p.price
                                            span
                                                |  2 300
                                            = ' '
                                            | р./рулон
                        .row
                            .col-md-12
                                +pagination()


