mixin collection-tab()
   .collection__tab
      .collection__tab__links
         a(href="javascript:void(0)" data-tab="tab-el").js-coll.open--tab  Элементы коллекции
         a(href="javascript:void(0)" data-tab="tab-des").js-coll Дизайн проекты
         a(href="javascript:void(0)" data-tab="tab-int").js-coll В интерьере
      .collection__tab__content
         .collection__tab__content__item.js-content.tab-el.open--tab
            .collection-item__type
               p.title  Настенная плитка
               .collection-item__type__goods
                  .row
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/el-tile.jpg").js-lazy
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/el-tile.jpg").js-lazy
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/el-tile.jpg").js-lazy
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/el-tile.jpg").js-lazy
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
            .collection-item__type
               p.title  Декор
               .collection-item__type__goods
                  .row
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/decor-tile.png").js-lazy
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/decor-tile.png").js-lazy
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/decor-tile.png").js-lazy
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/decor-bord.png").js-lazy
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
            .collection-item__type
               p.title  Напольная плитка
               .collection-item__type__goods
                  .row
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/napol-tile.png").js-lazy
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/napol-tile.png").js-lazy
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/napol-tile.png").js-lazy
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/napol-tile.png").js-lazy
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
         .collection__tab__content__item.js-content.tab-des
            .collection-item__type
               p.title  Настенная плитка
               .collection-item__type__goods
                  .row
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/el-tile.jpg").js-lazy-tab
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/el-tile.jpg").js-lazy-tab
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/el-tile.jpg").js-lazy-tab
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/el-tile.jpg").js-lazy-tab
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
            .collection-item__type
               p.title  Декор
               .collection-item__type__goods
                  .row
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/decor-tile.png").js-lazy-tab
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/decor-tile.png").ja-lazy-tab
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/decor-tile.png").ja-lazy-tab
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/decor-bord.png").js-lazy-tab
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
         .collection__tab__content__item.js-content.tab-int
            .collection-item__type
               p.title  Настенная плитка
               .collection-item__type__goods
                  .row
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/el-tile.jpg").js-lazy-tab
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/el-tile.jpg").js-lazy-tab
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/el-tile.jpg").js-lazy-tab
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
                     .col-md-3
                        .item-goods
                           .item-goods__img
                              img(data-original="../img/el-tile.jpg").js-lazy-tab
                           .item-goods__text
                              p.item-title: a(href="javascript:void(0)")  Настенная
                              p.collection   Империал
                              .sizes
                                 +svg('size')
                                 p  Размер плитки:
                                    span  20x40 см
                              .button
                                 p.price  2 300
                                    span  р.м
                                       sup   2
                                 a(href="javascript:void(0)")  Подробнее
