mixin design-project()
   .design-project
      .container
         .row
            .col-md-12
               p.title-category  Каталог дизайн-проектов
               .tabs
                  .tabs__link
                     ul
                        li:   a(href="javascript:void(0)" data-tab="one").active.js-tab-link  Плитка
                        li:   a(href="javascript:void(0)" data-tab="two").js-tab-link  Обои
                  .tabs__content
                     .tabs__content__block(data-tab="one").js-tab-block.visible--tab
                        .design-arrow.js-tdesign-arrow
                        .tile-design.js-tdesign
                           .tile-design__item
                              .tile-design__item__img
                                 a(href="javascript:void(0)")
                                    span  Подробнее
                                 img(data-original="../img/bath.jpg").js-lazy
                              .tile-design__item__description
                                 p.title-design: a(href="javascript:void(0)") Galatia Branch
                                 p.manufacturer Испания. Atlantic Tiles

                           .tile-design__item
                              .tile-design__item__img
                                 a(href="javascript:void(0)")
                                    span  Подробнее
                                 img(data-original="../img/bath.jpg").js-lazy
                              .tile-design__item__description
                                 p.title-design: a(href="javascript:void(0)") Galatia Branch
                                 p.manufacturer Испания. Atlantic Tiles

                           .tile-design__item
                              .tile-design__item__img
                                 a(href="javascript:void(0)")
                                    span  Подробнее
                                 img(data-original="../img/bath.jpg").js-lazy
                              .tile-design__item__description
                                 p.title-design: a(href="javascript:void(0)") Galatia Branch
                                 p.manufacturer Испания. Atlantic Tiles

                           .tile-design__item
                              .tile-design__item__img
                                 a(href="javascript:void(0)")
                                    span  Подробнее
                                 img(data-original="../img/bath.jpg").js-lazy
                              .tile-design__item__description
                                 p.title-design: a(href="javascript:void(0)") Galatia Branch
                                 p.manufacturer Испания. Atlantic Tiles

                           .tile-design__item
                              .tile-design__item__img
                                 a(href="javascript:void(0)")
                                    span  Подробнее
                                 img(data-original="../img/bath.jpg").js-lazy
                              .tile-design__item__description
                                 p.title-design: a(href="javascript:void(0)") Galatia Branch
                                 p.manufacturer Испания. Atlantic Tiles

                     .tabs__content__block(data-tab="two").js-tab-block
                        .design-arrow.js-wdesign-arrow
                           .tile-design.js-wdesign
                              .tile-design__item
                                 .tile-design__item__img
                                    a(href="javascript:void(0)")
                                       span  Подробнее
                                    img(data-original="../img/wall.jpg").js-lazy-tab
                                 .tile-design__item__description
                                    p.title-design: a(href="javascript:void(0)") Galatia Branch
                                    p.manufacturer Испания. Atlantic Tiles

                              .tile-design__item
                                 .tile-design__item__img
                                    a(href="javascript:void(0)")
                                       span  Подробнее
                                    img(data-original="../img/wall.jpg").js-lazy-tab
                                 .tile-design__item__description
                                    p.title-design: a(href="javascript:void(0)") Galatia Branch
                                    p.manufacturer Испания. Atlantic Tiles

                              .tile-design__item
                                 .tile-design__item__img
                                    a(href="javascript:void(0)")
                                       span  Подробнее
                                    img(data-original="../img/wall.jpg").js-lazy-tab
                                 .tile-design__item__description
                                    p.title-design: a(href="javascript:void(0)") Galatia Branch
                                    p.manufacturer Испания. Atlantic Tiles

                              .tile-design__item
                                 .tile-design__item__img
                                    a(href="javascript:void(0)")
                                       span  Подробнее
                                    img(data-original="../img/wall.jpg").js-lazy-tab
                                 .tile-design__item__description
                                    p.title-design: a(href="javascript:void(0)") Galatia Branch
                                    p.manufacturer Испания. Atlantic Tiles

                              .tile-design__item
                                 .tile-design__item__img
                                    a(href="javascript:void(0)")
                                       span  Подробнее
                                    img(data-original="../img/wall.jpg").js-lazy-tab
                                 .tile-design__item__description
                                    p.title-design: a(href="javascript:void(0)") Galatia Branch
                                    p.manufacturer Испания. Atlantic Tiles
               a(href="javascript:void(0)").more-this-category  Все коллекции