-   var footerCatalog = ['Керамическая плитка','Керамический гранит','Клинкер','Обои','Акции','Каталог интерьеров','Производители'];
-   var footerLinks = ['О компании', 'Отзывы','Сертификаты','Каталог дизайн-проектов','Доставка и оплата','Скачать прайс','Статьи','Контакты','Карта сайта']

mixin footer()
    .container
        .row
            .col-xs-12.visible-xs.footer-ico
                +svg('phone')
                .footer-ico__text
                    span    Телефон
                    p   8-495-644-24-37
            .col-lg-3.col-md-4.col-sm-4.logo-footer.hidden-xs
                img(src="../img/logo-footer.png")
                p.copyright Все права защищены © 2016 г.
                img(src="../img/visa.png").visa
                img(src="../img/master.png").master
            .col-lg-2.col-md-4.col-sm-4.col-xs-12
                ul.category
                    each li in footerCatalog
                        li: a(href="javascript:void(0)")  #{li}
                a(href="javascript:void(0)").pdf   PDF каталог
            .col-lg-3.col-md-4.col-sm-4.col-xs-12
                ul.links
                    each li in footerLinks
                        li: a(href="javascript:void(0)")  #{li}
            .col-lg-2.col-md-3.col-sm-3.footer-ico.hidden-xs
                +svg('phone')
                .footer-ico__text
                    span    Телефон
                    p   8-495-644-24-37
            .col-lg-2.col-md-3.col-sm-3.footer-ico.hidden-xs
                +svg('time')
                .footer-ico__text
                    span    Время работы
                    p
                        span    Будни
                        | с 10 до 19 ч.
                    p
                        span    Выходные
                        | с 10 до 17 ч.
            .col-lg-4.col-md-3.col-sm-3.col-sm-offset-2.col-md-offset-2.col-lg-offset-8.col-xs-12.soc-seti.col-xs-12
                p   Присоединяйтесь к нам

                a(href="javascript:void(0)" target="_blank"):   img(src="../img/vk.png")
                a(href="javascript:void(0)" target="_blank"):   img(src="../img/twitter.png")
                a(href="javascript:void(0)" target="_blank"):   img(src="../img/facebook.png")
    .developer
        .container
            .row
                .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    p.copy   Все права защищены © 2016 г.
                    .images.visible-xs
                        img(src="../img/visa.png").visa
                        img(src="../img/master.png").master
                .col-lg-4.col-lg-offset-2.col-md-4.col-sm-6.col-md-offset-0.col-sm-offset-0.col-xs-12
                    p   Разработка и продвижение сайтов
                    a(href="http://vedita.ru" target="_blank"):   +svg('vedita-logo')



