-   var footerCatalog = ['Керамическая плитка','Керамический гранит','Клинкер','Обои','Акции','Каталог интерьеров','Производители'];
-   var footerLinks = ['О компании', 'Отзывы','Сертификаты','Каталог дизайн-проектов','Доставка и оплата','Скачать прайс','Статьи','Контакты','Карта сайта']

mixin footer()
    .container
        .row
            .col-md-3.logo-footer
                img(src="../img/logo-footer.png")
                p.copyright Все права защищены © 2016 г.
                img(src="../img/visa.png").visa
                img(src="../img/master.png").master
            .col-md-2
                ul.category
                    each li in footerCatalog
                        li: a(href="javascript:void(0)")  #{li}
                a(href="javascript:void(0)").pdf   PDF каталог
            .col-md-3
                ul.links
                    each li in footerLinks
                        li: a(href="javascript:void(0)")  #{li}
            .col-md-2.footer-ico
                +svg('phone')
                .footer-ico__text
                    span    Телефон
                    p   8-495-644-24-37

            .col-md-2.footer-ico
                +svg('time')
                .footer-ico__text
                    span    Время работы
                    p
                        span    Будни
                        | с 10 до 19 ч.
                    p
                        span    Выходные
                        | с 10 до 17 ч.
            .col-md-4.col-md-offset-8.soc-seti
                p   Присоединяйтесь к нам

                a(href="javascript:void(0)" target="_blank"):   img(src="../img/vk.png")
                a(href="javascript:void(0)" target="_blank"):   img(src="../img/twitter.png")
                a(href="javascript:void(0)" target="_blank"):   img(src="../img/facebook.png")
    .developer
        .container
            .row
                .col-md-4.col-md-offset-8
                    p   Разработка и продвижение сайтов
                    a(href="http://vedita.ru" target="_blank"):   +svg('vedita-logo')



