- var topmenu = ['О компании','Доставка и оплата','Как купить','Новости','Статьи','Скачать прайс','Контакты']
- var mainmenu = [{name: 'Керамическая плитка'}, {name: '  Керамический гранит'}, {name: 'Клинкер'}, {name: 'Обои'}, {name: 'Акции'}, {name: 'Каталог интерьеров'}, {name: 'Производители', submenu: ['Производители плитки', 'Производители обоев'] , submenu2: ['Испания', 'Италия'], submenu3: ['Производитель 1','Производитель 2','Производитель 3']}]

mixin header(type)
   header(class="#{type}")
      .header-top
         .container
            .row
               .col-md-7
                  nav
                     ul
                        each item  in topmenu
                           li
                              a(href="javascript:void(0)") #{item}
               .col-md-5.header-top__links
                  .header-top__link-3d
                     a(href="javascript:void(0)")  Заказать 3D проект
                  .header-top__registration
                     a(href="javascript:void(0)").enter  Войти
                     a(href="javascript:void(0)").registration  Зарегистрироваться
      .header-bottom
         .container
            .position-block
               .search-form.js-search-form
                  form
                     input(type="text" placeholder="Поиск по сайту")
               .row
                  .col-md-3
                     .logo
                        img(src="../img/logo.png")
                  .col-md-9.job-time
                     .row
                        .col-md-4
                           +svg('phone')
                           p
                              span.title  Оптовая торговля
                              span.subtitle  8-495-669-05-37, 8-495-669-05-38
                              span.link
                                 a(href="javascript:void(0)")  Перейти на сайт  riffanal.ru
                        .col-md-3.line-hr
                           +svg('phone')
                           p
                              span.title  Розничная торговля
                              span.subtitle  +7 (495) 644-24-37
                        .col-md-2.line-hr
                           +svg('time')
                           p
                              span.title  Будни
                              span.subtitle  с 10 до 19 ч.
                        .col-md-2
                           p
                              span.title  Выходные
                              span.subtitle  с 10 до 17 ч.
                        .col-md-1
                           .header-bottom__cart
                              a(href="javascript:void(0)")
                                 +svg('cart')
                                 p.count
                                    span  3
                  .col-md-11
                     +menu(mainmenu)
                  .col-md-1
                     .header-bottom__search.js-open-search
                        +svg('search')






