mixin index-text()
   .index-text
      .container
         .row
            .col-md-12
               .index-text__description
                  img(src="../img/logo.png").logo
                  h1 Керамическая плитка в интернет-магазине  «Фан керамика»
                  p  Отделочная керамика широко используется для оформления жилых, производственных, коммерческих интерьеров. Преимуществами создаваемых с ее помощью покрытий являются внешняя привлекательность и долговечность.
                  p
                     span.bold  Интернет-магазин «Фан керамика»
                     |  предлагает купить керамическую плитку для кухни и ванной, а также керамогранит, натуральный камень, стеклянную мозаику, клинкер и другие отделочные материалы. В нашем каталоге можно найти продукцию ведущих европейских брендов: Serenissima Ceracasa, Baldocer, Porcelanosa, Metropol и т. д. Наш магазин керамической плитки в Москве позволяет ознакомиться с характеристиками и ценами представленных товаров и заказать их в режиме онлайн.