mixin interior-catalog()
   .interior-catalog
      .container
         .row
            .col-md-12
               p.title-category  Каталог интерьеров
               .tabs
                  .tabs__link
                     ul
                        li:   a(href="javascript:void(0)" data-tab="one").active.js-tab-link  Плитка
                        li:   a(href="javascript:void(0)" data-tab="two").js-tab-link  Обои
                  .tabs__content
                     .tabs__content__block(data-tab="one").js-tab-block.visible--tab
                        .interio-arrow.js-intale-arrow
                        .tile-interior.js-interior-tale
                           .tile-interior__item
                              a(href="javascript:void(0)")
                                 span  Подробнее
                              img(data-original="../img/bath.jpg").js-lazy
                           .tile-interior__item
                              a(href="javascript:void(0)")
                                 span  Подробнее
                              img(data-original="../img/bath.jpg").js-lazy
                           .tile-interior__item
                              a(href="javascript:void(0)")
                                 span  Подробнее
                              img(data-original="../img/bath.jpg").js-lazy
                           .tile-interior__item
                              a(href="javascript:void(0)")
                                 span  Подробнее
                              img(data-original="../img/bath.jpg").js-lazy
                           .tile-interior__item
                              a(href="javascript:void(0)")
                                 span  Подробнее
                              img(data-original="../img/bath.jpg").js-lazy
                     .tabs__content__block(data-tab="two").js-tab-block
                        .interio-arrow.js-walltale-arrow
                           .tile-interior.js-interior-wall
                              .tile-interior__item
                                 a(href="javascript:void(0)")
                                    span  Подробнее
                                 img(data-original="../img/wall.jpg").js-lazy-tab
                              .tile-interior__item
                                 a(href="javascript:void(0)")
                                    span  Подробнее
                                 img(data-original="../img/wall.jpg").js-lazy-tab
                              .tile-interior__item
                                 a(href="javascript:void(0)")
                                    span  Подробнее
                                 img(data-original="../img/wall.jpg").js-lazy-tab
                              .tile-interior__item
                                 a(href="javascript:void(0)")
                                    span  Подробнее
                                 img(data-original="../img/wall.jpg").js-lazy-tab
                              .tile-interior__item
                                 a(href="javascript:void(0)")
                                    span  Подробнее
                                 img(data-original="../img/wall.jpg").js-lazy-tab
               a(href="javascript:void(0)").more-this-category  Все коллекции