include pagination
include catalog-text

mixin manufacturer-lists()
   .manufacturer-lists
      .container
         .manufacturer-lists__item
            .row
               .col-md-12
                  p.title-manufacturer Италия
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile1.jpg")
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile2.jpg")
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile3.jpg")
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile4.jpg")
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile5.jpg")
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile1.jpg")
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile1.jpg")
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile2.jpg")
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile3.jpg")
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile4.jpg")
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile5.jpg")
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile1.jpg")
         .manufacturer-lists__item
            .row
               .col-md-12
                  p.title-manufacturer Россия
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile1.jpg")
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile2.jpg")
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile3.jpg")
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile4.jpg")
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile5.jpg")
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile1.jpg")
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile1.jpg")
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile2.jpg")
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile3.jpg")
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile4.jpg")
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile5.jpg")
               .col-md-2.col-sm-4.col-xs-6.item
                  img(src="../img/tile1.jpg")

         +pagination()
         +catalog-text()

