mixin manufacturer()
   .manufacturer
      .container
         .row
            .col-md-12
               p.title-category  Производители
               .tabs
                  .tabs__link
                     ul
                        li:   a(href="javascript:void(0)" data-tab="one").active.js-tab-link  Плитка
                        li:   a(href="javascript:void(0)" data-tab="two").js-tab-link  Обои
                  .tabs__content
                     .tabs__content__block(data-tab="one").js-tab-block.visible--tab
                        .tile.js-tile
                           .tile__block
                              img(src="../img/tile1.jpg")
                           .tile__block
                              img(src="../img/tile2.jpg")
                           .tile__block
                              img(src="../img/tile3.jpg")
                           .tile__block
                              img(src="../img/tile4.jpg")
                           .tile__block
                              img(src="../img/tile5.jpg")
                           .tile__block
                              img(src="../img/tile1.jpg")
                           .tile__block
                              img(src="../img/tile2.jpg")
                           .tile__block
                              img(src="../img/tile3.jpg")
                           .tile__block
                              img(src="../img/tile4.jpg")
                           .tile__block
                              img(src="../img/tile5.jpg")

                     .tabs__content__block(data-tab="two").js-tab-block
                        .wallpaper.js-wallpaper
                           .wallpaper__block
                              img(src="../img/tile5.jpg")
                           .wallpaper__block
                              img(src="../img/tile4.jpg")
                           .wallpaper__block
                              img(src="../img/tile3.jpg")
                           .wallpaper__block
                              img(src="../img/tile2.jpg")
                           .wallpaper__block
                              img(src="../img/tile1.jpg")
                           .wallpaper__block
                              img(src="../img/tile5.jpg")
                           .wallpaper__block
                              img(src="../img/tile2.jpg")
                           .wallpaper__block
                              img(src="../img/tile4.jpg")
                           .wallpaper__block
                              img(src="../img/tile3.jpg")
                           .wallpaper__block
                              img(src="../img/tile1.jpg")
               a(href="javascript:void(0)").more-this-category  Все производители