mixin map()
   .map
      .container
         .row
            .col-md-3.map__img
               a(href="../img/wall-map2.jpg").fancybox
                  img(src="../img/wall-map2.jpg")
            .col-md-4.col-md-offset-1.map__params
               p.title  Название
               .recommend-banner.new
                  p  Новинка
               p.order Под заказ
               p.param  Артикул:
                  span  135852-D
               p.param  Страна:
                  span  Испания
               .map__params__manufacturer
                  p.param.image  Производитель:
                     span  Ceracasa. Ltd
                  img(src="../img/tile1.jpg")
               p.param  Материал:
                  span  Флизелин
               p.param  Дизайн:
                  span  Для детей
               p.param  Ширина:
                  span  110 см.
               p.param  Длина рулона:
                  span  10 м.
               p.param  Рельеф:
                  span  есть
               p.param  Цвет:
                  span  Розовые, синии тона
               p.param  Влагостойкость:
                  span  Не моющиеся
               p.param  Плотность, г/м кв:
                  span  115/120
               p.param  Раппорт:
                  span  63 см.
               .map__params__introtext
                  p  Отделочная керамика широко используется для оформления жилых, производственных, коммерческих интерьеров. Преимуществами создаваемых с ее помощью покрытий являются
            .col-md-4.map__buy
               .map__buy__border
                  form
                     .form-description
                        p.price  2 300
                           span  рулон
                        p.price-action Цена по акции
                        p.old-price 4 750 рулон
                     .map__buy__border__count
                        button.minus   -
                        input(type="text" value="1")
                        button.plus +
                     .map__buy__border__button
                        input(type="submit" value="Купить")#buy-map
                        label(for="buy-map")
                     br.clear
                     p.web-money Оплата возможна по безналичному расчёту:
                     img(src="../img/visa-map.png").web
                     img(src="../img/master-map.png").web
                     p.money  Или наличными по адресу:
                     p.address   392004  г. Москва ул. Академика Королёва, 16
               .map__buy__calculate
                  p  С помощью нашего калькулятора, Вы можете рассчитать необходимое количество рулонов для Вашей комнаты
                  a(href="javascript:void(0)")  Калькулятор обоев
         .this-series
            p.category-title  Обои из этой серии
            .row
               .col-md-3
                  .item-card
                     .item-card__img
                        a(href="javascript:void(0)"): span  Подробнее
                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                     .item-card__text
                        p.title: a(href="javascript:void(0)")  Империал
                        p.manufacturer Испания. Atlantic Tiles
                        p.type   Флизилиновые, 110 см
                        p.price
                           span
                              |  2 300
                           = ' '
                           | р./рулон
               .col-md-3
                  .item-card
                     .item-card__img
                        a(href="javascript:void(0)"): span  Подробнее
                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                     .item-card__text
                        p.title: a(href="javascript:void(0)")  Империал
                        p.manufacturer Испания. Atlantic Tiles
                        p.type   Флизилиновые, 110 см
                        p.price
                           span
                              |  2 300
                           = ' '
                           | р./рулон
               .col-md-3
                  .item-card
                     .item-card__img
                        a(href="javascript:void(0)"): span  Подробнее
                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                     .item-card__text
                        p.title: a(href="javascript:void(0)")  Империал
                        p.manufacturer Испания. Atlantic Tiles
                        p.type   Флизилиновые, 110 см
                        p.price
                           span
                              |  2 300
                           = ' '
                           | р./рулон
               .col-md-3
                  .item-card
                     .item-card__img
                        a(href="javascript:void(0)"): span  Подробнее
                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                     .item-card__text
                        p.title: a(href="javascript:void(0)")  Империал
                        p.manufacturer Испания. Atlantic Tiles
                        p.type   Флизилиновые, 110 см
                        p.price
                           span
                              |  2 300
                           = ' '
                           | р./рулон
         .similar
            p.category-title  Похожие обои
            .row
               .col-md-3
                  .item-card
                     .item-card__img
                        a(href="javascript:void(0)"): span  Подробнее
                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                     .item-card__text
                        p.title: a(href="javascript:void(0)")  Империал
                        p.manufacturer Испания. Atlantic Tiles
                        p.type   Флизилиновые, 110 см
                        p.price
                           span
                              |  2 300
                           = ' '
                           | р./рулон
               .col-md-3
                  .item-card
                     .item-card__img
                        a(href="javascript:void(0)"): span  Подробнее
                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                     .item-card__text
                        p.title: a(href="javascript:void(0)")  Империал
                        p.manufacturer Испания. Atlantic Tiles
                        p.type   Флизилиновые, 110 см
                        p.price
                           span
                              |  2 300
                           = ' '
                           | р./рулон
               .col-md-3
                  .item-card
                     .item-card__img
                        a(href="javascript:void(0)"): span  Подробнее
                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                     .item-card__text
                        p.title: a(href="javascript:void(0)")  Империал
                        p.manufacturer Испания. Atlantic Tiles
                        p.type   Флизилиновые, 110 см
                        p.price
                           span
                              |  2 300
                           = ' '
                           | р./рулон
               .col-md-3
                  .item-card
                     .item-card__img
                        a(href="javascript:void(0)"): span  Подробнее
                        img(data-original="../img/item-wallpaper.jpg").js-lazy
                     .item-card__text
                        p.title: a(href="javascript:void(0)")  Империал
                        p.manufacturer Испания. Atlantic Tiles
                        p.type   Флизилиновые, 110 см
                        p.price
                           span
                              |  2 300
                           = ' '
                           | р./рулон




