mixin new()
   .new
      .container
         .row
            .col-md-12
               p.title-category  Новинки
               .tabs
                  .tabs__link
                     ul
                        li:   a(href="javascript:void(0)" data-tab="one").active.js-tab-link  Плитка
                        li:   a(href="javascript:void(0)" data-tab="two").js-tab-link  Обои
                  .tabs__content
                     .tabs__content__block(data-tab="one").js-tab-block.visible--tab
                        .row
                           .col-lg-3.col-md-6.col-sm-6
                              .item-card.collection
                                 .item-card__title
                                    p.collection-p Коллекция
                                    p.title: a(href="javascript:void(0)")  Империал
                                 .item-card__img
                                    a(href="javascript:void(0)"): span  Подробнее
                                    img(data-original="../img/item-img.jpg").js-lazy
                                 .item-card__text
                                    p.manufacturer Испания. Atlantic Tiles
                                    p.type   Керамогранит
                                    p.price от
                                       span
                                          |  2 300
                                       = ' '
                                       | р.м
                                       sup 2
                           .col-lg-3.col-md-6.col-sm-6
                              .item-card.collection
                                 .item-card__title
                                    p.collection-p Коллекция
                                    p.title: a(href="javascript:void(0)")  Империал
                                 .item-card__img
                                    a(href="javascript:void(0)"): span  Подробнее
                                    img(data-original="../img/item-img.jpg").js-lazy
                                 .item-card__text
                                    p.manufacturer Испания. Atlantic Tiles
                                    p.type   Керамогранит
                                    p.price от
                                       span
                                          |  2 300
                                       = ' '
                                       |  р.м
                                       sup   2
                           .col-lg-3.col-md-6.col-sm-6
                              .item-card.collection
                                 .item-card__title
                                    p.collection-p Коллекция
                                    p.title: a(href="javascript:void(0)")  Империал
                                 .item-card__img
                                    a(href="javascript:void(0)"): span  Подробнее
                                    img(data-original="../img/item-img.jpg").js-lazy
                                 .item-card__text
                                    p.manufacturer Испания. Atlantic Tiles
                                    p.type   Керамогранит
                                    p.price от
                                       span
                                          |  2 300
                                       = ' '
                                       | р.м
                                       sup   2
                           .col-lg-3.col-md-6.col-sm-6
                              .item-card.collection
                                 .item-card__title
                                    p.collection-p Коллекция
                                    p.title: a(href="javascript:void(0)")  Империал
                                 .item-card__img
                                    a(href="javascript:void(0)"): span  Подробнее
                                    img(data-original="../img/item-img.jpg").js-lazy
                                 .item-card__text
                                    p.manufacturer Испания. Atlantic Tiles
                                    p.type   Керамогранит
                                    p.price от
                                       span
                                          |  2 300
                                       = ' '
                                       | р.м
                                       sup   2
                                 .item-card__one-click
                                    a(href="javascript:void(0)")  Купить в 1 клик
                     .tabs__content__block(data-tab="two").js-tab-block
                        .row
                           .col-lg-3.col-md-6.col-sm-6
                              .item-card.collection
                                 .item-card__title
                                    p.collection-p Коллекция
                                    p.title: a(href="javascript:void(0)")  Империал
                                 .item-card__img
                                    a(href="javascript:void(0)"): span  Подробнее
                                    img(data-original="../img/item-wallpaper.jpg").js-lazy-tab
                                 .item-card__text
                                    p.manufacturer Испания. Atlantic Tiles
                                    p.type   Флизилиновые, 110 см
                                    p.price
                                       span
                                          |  2 300
                                       = ' '
                                       | р./рулон
                           .col-lg-3.col-md-6.col-sm-6
                              .item-card.collection
                                 .item-card__title
                                    p.collection-p Коллекция
                                    p.title: a(href="javascript:void(0)")  Империал
                                 .item-card__img
                                    a(href="javascript:void(0)"): span  Подробнее
                                    img(data-original="../img/item-wallpaper.jpg").js-lazy-tab
                                 .item-card__text
                                    p.manufacturer Испания. Atlantic Tiles
                                    p.type   Флизилиновые, 110 см
                                    p.price
                                       span
                                          |  2 300
                                       = ' '
                                       | р./рулон
                           .col-lg-3.col-md-6.col-sm-6
                              .item-card.collection
                                 .item-card__title
                                    p.collection-p Коллекция
                                    p.title: a(href="javascript:void(0)")  Империал
                                 .item-card__img
                                    a(href="javascript:void(0)"): span  Подробнее
                                    img(data-original="../img/item-wallpaper.jpg").js-lazy-tab
                                 .item-card__text
                                    p.manufacturer Испания. Atlantic Tiles
                                    p.type   Флизилиновые, 110 см
                                    p.price
                                       span
                                          |  2 300
                                       = ' '
                                       | р./рулон
                           .col-lg-3.col-md-6.col-sm-6
                              .item-card.collection
                                 .item-card__title
                                    p.collection-p Коллекция
                                    p.title: a(href="javascript:void(0)")  Империал
                                 .item-card__img
                                    a(href="javascript:void(0)"): span  Подробнее
                                    img(data-original="../img/item-wallpaper.jpg").js-lazy-tab
                                 .item-card__text
                                    p.manufacturer Испания. Atlantic Tiles
                                    p.type   Флизилиновые, 110 см
                                    p.price
                                       span
                                          |  2 300
                                       = ' '
                                       | р./рулон
               a(href="javascript:void(0)").more-this-category  Все коллекции