mixin question()
   .question(data-original="../img/question-banner.jpg").js-lazy
      .container
         .row
            .col-md-12
               .question__text
                  form
                     .row
                        .col-md-5.question__text__descript
                           p  Есть вопросы?
                              span  Мы поможем!
                           span  Мы ответим на любые Ваши вопросы !
   
                        .col-md-3
                           input(type="phone")#phone-quest
                        .col-md-3
                           input(type="submit" value="Заказать звонок")
                        .col-md-1

