mixin reviews()
   .reviews
      .container
         .row
            .col-md-12
               p.title-category  Отзывы покупателей
               .reviews__slider.js-reviews-slider
                  .reviews__slider__item
                     .reviews-item__ico
                        img(src="../img/reviews-ico.png")
                     .reviews-item__text
                        p.title  Маша Иванова
                        p.date  24 мая 2016 г
                        p.introtext Мы предоставляем своим покупателям все достоверные сведения о предлагаемом товаре. На нашем сайте Вы можете выбрать необходимые отделочные материалы по названию, размерам, цвету и другим характеристикам. Для оформления заказа нужно просто выбрать в предложенном списке фабрику производителя и наименование товара.
                  .reviews__slider__item
                     .reviews-item__ico
                        img(src="../img/reviews-ico.png")
                     .reviews-item__text
                        p.title  Маша Иванова
                        p.date  24 мая 2016 г
                        p.introtext Мы предоставляем своим покупателям все достоверные сведения о предлагаемом товаре. На нашем сайте Вы можете выбрать необходимые отделочные материалы по названию, размерам, цвету и другим характеристикам. Для оформления заказа нужно просто выбрать в предложенном списке фабрику производителя и наименование товара.

