mixin slider()
   .slider
      .slider__arrows
         .container
            .row
               .col-md-12
                  .js-arrows
      .js-slider
         .slider__item(style="background-image: url(../img/slide1.jpg)")
            .container
               .row
                  .col-md-12
                     .item__content
                        .item__content__white-block
                           .white-block__left
                              p.title  Керамическая плитка
                              p.subtitle  Из Италии
                              p.delivery-text   Бесплатная доставка по Москве и России
                              a.more(href="javascript:void(0)")   Подробнее
                           .white-block__right
                              img(src="../img/plitka.jpg")
         .slider__item(style="background-image: url(../img/slide1.jpg)")
            .container
               .row
                  .col-md-12
                     .item__content
                        .item__content__white-block
                           .white-block__left
                              p.title  Керамическая плитка
                              p.subtitle  Из Италии
                              p.delivery-text   Бесплатная доставка по Москве и России
                              a.more(href="javascript:void(0)")   Подробнее
                           .white-block__right
                              img(src="../img/plitka.jpg")
         .slider__item(style="background-image: url(../img/slide1.jpg)")
            .container
               .row
                  .col-md-12
                     .item__content
                        .item__content__white-block
                           .white-block__left
                              p.title  Керамическая плитка
                              p.subtitle  Из Италии
                              p.delivery-text   Бесплатная доставка по Москве и России
                              a.more(href="javascript:void(0)")   Подробнее
                           .white-block__right
                              img(src="../img/plitka.jpg")