mixin style-slider()
   .style-slider
      .arrow-style.js-arrow-style
      .js-style-slider
         .style-slider__item
            img(src="../img/slide-france.png")
            .style-slider__item__tile
               p  Французский стиль
               .four-w
                  img(src="../img/four-big.jpg")
               .two-w.one
                  img(src="../img/two.jpg")
               .two-w.two
                  img(src="../img/three.jpg")
               .two-w.three
                  img(src="../img/four.jpg")
               .two-w.four
                  img(src="../img/five.jpg")
               .two-w.five
                  img(src="../img/three.jpg")
         .style-slider__item
            img(src="../img/slide-france.png")
            .style-slider__item__tile
               p  Итальянский стиль
               .four-w
                  img(src="../img/four-big.jpg")
               .two-w.one
                  img(src="../img/two.jpg")
               .two-w.two
                  img(src="../img/three.jpg")
               .two-w.three
                  img(src="../img/four.jpg")
               .two-w.four
                  img(src="../img/five.jpg")
               .two-w.five
                  img(src="../img/three.jpg")