mixin utp()
   .utp
      .container
         .row
            .col-md-4
               .utp__ico
                  +svg('like')
               .utp__text
                  p.title  Качественная
                     br
                     |  продукция
               .utp__description
                  p  Отделочная керамика широко используется для оформления жилых, производственных, коммерческих интерьеров.
            .col-md-4
               .utp__ico
                  +svg('telephone')
               .utp__text
                  p.title  Высокий уровень
                     br
                     |  сервиса
               .utp__description
                  p  Отделочная керамика широко используется для оформления жилых, производственных, коммерческих интерьеров.
            .col-md-4
               .utp__ico
                  +svg('lock')
               .utp__text
                  p.title  Доставка по Москве
                     br
                     |  и России
               .utp__description
                  p  Отделочная керамика широко используется для оформления жилых, производственных, коммерческих интерьеров.